AtendimentoPosicao.json
{"createdAt":"2025-08-14T16:42:44.033Z","updatedAt":"2025-08-18T20:33:34.556Z","id":"dGz24aZQ6g84a4JE","name":"AtendimentoPosicao","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["GET","POST","PUT"],"path":"atendimentoPosicao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-16],"id":"27ac597d-8d9f-4319-b7b3-c6362f82cbc4","name":"Webhook","webhookId":"06245715-a899-4312-8c59-5393bfcc73a8"},{"parameters":{"operation":"executeQuery","query":"with numero as (\nselect $1 as  numero \n) \nselect coalesce(id,0),  coalesce(a.phone,n.numero) as phone, coalesce(a.agenttype,'typebot') agenttype\nfrom numero as n \nleft join \"public\".\"atendimento\" a on n.numero = a.phone \nwhere n.numero = $1;","options":{"queryReplacement":"={{ $json.whatsapp }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,-352],"id":"513f2c5f-5f0e-4776-901a-74ee9fab5aa2","name":"Execute a SQL query","credentials":{"postgres":{"id":"ncUTswgELJS7W8Op","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,-448],"id":"03084465-4cc4-45c8-bf1c-b8a53ef303fd","name":"When Executed by Another Workflow"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"whatsapp","field2":"whatsapp"}]},"joinMode":"keepNonMatches","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,-352],"id":"a89ce1f6-e96e-486c-b9a5-cd41a7f5ae0d","name":"Merge","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"b0f42740-fd50-4403-bc93-ba533f4981c3","name":"whatsapp","value":"={{ $json.query.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-160],"id":"fa628200-30a6-48e2-aa82-5aa0ba953907","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"635f9373-ecd3-4e27-9fa9-20011a7af5f8","name":"whatsapp","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-448],"id":"a33754e4-3a28-4e11-973d-4f7187743d8c","name":"Edit Fields1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"agent\": \"{{ $json.agenttype }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2032,-144],"id":"f87c1e2b-1820-4189-9259-766a59b51458","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"--update public.atendimento set agenttype = $2 where phone = $1\nWITH upsert AS (\n     UPDATE public.atendimento \n     SET agenttype = $2\n     WHERE phone = $1 \n     RETURNING *\n)\nINSERT INTO public.atendimento (phone, agenttype) \nSELECT $1, $2 \nWHERE NOT EXISTS (SELECT * FROM upsert)\n  ","options":{"queryReplacement":"={{ [$('Edit Fields2').item.json.whatsapp,$('Edit Fields2').item.json.agent ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,448],"id":"3bfb0482-4f4a-46d6-b847-1d3b212070c4","name":"Execute a SQL query1","credentials":{"postgres":{"id":"ncUTswgELJS7W8Op","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={  \"agent\": \"{{ $('Edit Fields2').item.json.agent }}\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,448],"id":"0f9b4658-32a6-4f5e-8095-663a4d823672","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"dd218fb2-368d-4364-8524-513aabede55c","name":"whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"e3c6b79d-6829-4497-9f99-44e33d1390e6","name":"agent","value":"={{ $json.body.agent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,448],"id":"0fb5587c-1cb8-408b-aabd-b03e5e26031e","name":"Edit Fields2"},{"parameters":{"operation":"executeQuery","query":"insert into public.atendimento (phone,agenttype) values( $1, $2 );","options":{"queryReplacement":"={{ [$('Edit Fields3').item.json.whatsapp,$('Edit Fields3').item.json.agent ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,160],"id":"35db64cb-abc7-42a2-aad7-af3f313ef19c","name":"Execute a SQL query2","credentials":{"postgres":{"id":"ncUTswgELJS7W8Op","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={  \"agent\": \"{{ $('Edit Fields3').item.json.agent }}\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,160],"id":"5cb62959-13ce-459a-847d-1b4d37e6c6d6","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"dd218fb2-368d-4364-8524-513aabede55c","name":"whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"e3c6b79d-6829-4497-9f99-44e33d1390e6","name":"agent","value":"={{ $json.body.agent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,160],"id":"7182b83b-ae6d-4585-a7cd-047e54b0943f","name":"Edit Fields3"},{"parameters":{"method":"POST","url":"https://evo.prd.votorantim.tmob.com.br/typebot/changeStatus/Votorantim","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"remoteJid","value":"={{ $json.whatsapp }}@s.whatsapp.net"},{"name":"status","value":"={{ $json.agent == 'typebot'?'closed':'paused' }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,160],"id":"445b0d2f-3690-47d3-8aed-e806ac8366d0","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://evo.prd.votorantim.tmob.com.br/typebot/changeStatus/Votorantim","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"remoteJid","value":"={{ $json.whatsapp }}@s.whatsapp.net"},{"name":"status","value":"={{ $json.agent == 'typebot'?'closed':'paused' }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,448],"id":"f4fa2bff-5303-45e2-a5e0-cca32432ddcc","name":"HTTP Request1"},{"parameters":{"url":"https://evo.prd.votorantim.tmob.com.br/typebot/fetchSessions/cme7885te00czmj4qja8w9e9d/Votorantim","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-80],"id":"39a2b9de-dbfb-4beb-be06-3f2b1f3d99f7","name":"HTTP Request2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nreturn $input.all().filter(d=>d.json.remoteJid== $('Merge').first().json.whatsapp+'@s.whatsapp.net');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-80],"id":"5e5afc11-6e58-46e0-8fc7-76443831bb62","name":"Code"},{"parameters":{"mode":"combineBySql","query":"SELECT input1.agenttype, input2.status  FROM input1, input2 ","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,-240],"id":"40605d6d-cf3e-44c9-a7d9-2a1e820ebe1c","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550f5d56-af38-49ad-b3f4-2a8ee85af4c5","leftValue":"={{ $json.agenttype }}","rightValue":"typebot","operator":{"type":"string","operation":"notContains"}},{"id":"f73c81fe-f001-47c7-9655-fdfea24b05a8","leftValue":"={{ $json.status }}","rightValue":"opened","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"34fb3d75-f5a2-4960-b03d-40abbd4e5cd8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,-240],"id":"20796794-69cb-4cb6-b02c-53f3d2fc2016","name":"If"},{"parameters":{"method":"POST","url":"https://evo.prd.votorantim.tmob.com.br/typebot/changeStatus/Votorantim","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"remoteJid","value":"={{ $('Merge').item.json.whatsapp }}"},{"name":"status","value":"=paused"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,-384],"id":"0d251c1c-cce2-4c46-9860-b473b29d5ff3","name":"HTTP Request3"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"whatsapp":"5511973620851"}}],"Webhook":[]},"versionId":"ceb12094-488d-4669-812a-4624b1a689c8","triggerCount":1,"tags":[]}