Backup N8N1.json
{"createdAt":"2025-10-20T12:00:30.637Z","updatedAt":"2025-10-20T12:44:00.700Z","id":"afBNVeunb0niqiKe","name":"Backup N8N1","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[608,-48],"id":"2fadf7da-2256-4c76-8c85-76aa1c6244d9","name":"n8n1","credentials":{"n8nApi":{"id":"cVmwtFJ4o5xev3F7","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[128,-48],"id":"d10f53d1-6f33-41b2-ab00-2c91ac98a52b","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"92bb5093-454b-4c07-9fa8-102257d40100","name":"owner","value":"tmobolimpio","type":"string"},{"id":"1a88143d-7054-4d4a-87a3-af632cb26529","name":"repository","value":"n8n-backup","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-48],"id":"f58e5d7f-a928-4f6d-88c1-025461db2bec","name":"Edit Fields"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1440,-288],"id":"0e707e9a-cdbc-4447-9a9d-de47524c7bd6","name":"Extract from File"},{"parameters":{"mergeByFields":{"values":[{"field1":"texto.name","field2":"texto.name"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2064,-176],"id":"43546d40-d862-4474-8270-df23793386c5","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"ce4b0896-5693-4ebb-9458-22c2aa4a9921","name":"texto","value":"={{ $json.data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-288],"id":"0390eb59-a993-4141-a780-942f8de17ee9","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"d147155e-45c2-49fc-b9b5-4ce2b18ce5ec","name":"texto","value":"={{$json}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,80],"id":"fe19132e-eafc-421f-aff4-331fe09212e8","name":"Edit Fields2"},{"parameters":{"mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1184,-160],"id":"ec50b5df-509c-44e6-9f6b-d8b83d3381f8","name":"Compare Datasets1"},{"parameters":{"assignments":{"assignments":[{"id":"4892c066-f6ec-48df-912b-9ae56c1ff108","name":"valor","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,-160],"id":"61eb8267-8d93-4701-a7af-d7cf9e21feb0","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,-288],"id":"4d741c6b-eb94-43ba-99b1-880a23040235","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[960,-304],"id":"ed15cf68-1529-488b-934d-e5493648d4fe","name":"Get a file","alwaysOutputData":false,"webhookId":"8bf6304c-9553-4e9e-b111-7b6a25478bde","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=  backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1600,-96],"id":"ae7862cd-7745-49ac-8438-7678f2578c50","name":"Create a file","webhookId":"2924ebf9-4d21-4d3d-a5fa-13b490c75816","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ JSON.parse($json.valor).name }}.json","fileContent":"={{ $json.valor }}","commitMessage":"=backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2624,-176],"id":"e06fb0cf-b99f-4968-ae2f-218a6fe7ca26","name":"Edit a file","webhookId":"33db6668-3efd-41a7-94ed-f02988994e20","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"8a75f06c-7fd5-4bc6-8ad3-9e07cd7c0a25"}],"combinator":"and"},"renameOutput":"={{ false }}"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,-128],"id":"d9cb29e6-c074-425d-910b-711d1ab8d5c2","name":"Switch"}],"connections":{"n8n1":{"main":[[{"node":"Get a file","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets1":{"main":[[],[],[{"node":"Create a file","type":"main","index":0}],[]]},"Compare Datasets":{"main":[[],[],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Compare Datasets1","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Switch":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"a2b62c42-c089-4ba3-bf07-bfa2ff581855","triggerCount":1,"tags":[]}