Backup Typebot1.json
{"createdAt":"2025-10-20T12:37:14.560Z","updatedAt":"2025-10-20T12:39:49.046Z","id":"AvZcoRm4wDZyxIMT","name":"Backup Typebot1","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,-80],"id":"cd431e0b-3106-4bab-a884-31433e5ffabb","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"92bb5093-454b-4c07-9fa8-102257d40100","name":"owner","value":"tmobolimpio","type":"string"},{"id":"1a88143d-7054-4d4a-87a3-af632cb26529","name":"repository","value":"typebot-backup","type":"string"},{"id":"c87700d6-e651-41d5-a6d4-57a194a08f90","name":"typebot.url","value":"https://typebot.prd.votorantim.tmob.com.br","type":"string"},{"id":"10677027-598e-4aab-aaf0-db5bbdb7fab2","name":"typebot.workspace.id","value":"cm7dahbq50001c7m972ujn7jt","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-80],"id":"7600a932-0e2e-47cd-8a08-2ae2f3f3237b","name":"Edit Fields"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1424,-288],"id":"ae9f6f86-c730-425a-b538-0d763173c523","name":"Extract from File"},{"parameters":{"mergeByFields":{"values":[{"field1":"texto.name","field2":"texto.name"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2064,-176],"id":"55bcd6fe-ffd9-4092-9962-3603355e39bd","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"ce4b0896-5693-4ebb-9458-22c2aa4a9921","name":"texto","value":"={{ $json.data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-288],"id":"180c68a5-c08a-4839-87d4-7ef40dcdb231","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"d147155e-45c2-49fc-b9b5-4ce2b18ce5ec","name":"texto","value":"={{$json}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,80],"id":"289c95ed-5c2f-40ca-8786-a75be7eac2ff","name":"Edit Fields2"},{"parameters":{"mergeByFields":{"values":[{"field1":"id","field2":"id"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1184,-160],"id":"4b72f922-abf6-4920-99fd-67be0c8ae059","name":"Compare Datasets1"},{"parameters":{"assignments":{"assignments":[{"id":"4892c066-f6ec-48df-912b-9ae56c1ff108","name":"valor","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,-160],"id":"5376e55e-ba76-4fba-9e61-8f0f2bdc92f1","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,-320],"id":"2b0d8c7f-4b1d-43aa-a5ef-a3aeafa87274","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[944,-320],"id":"50299d4b-0e88-43c6-92ef-1fd6135faf12","name":"Get a file","alwaysOutputData":false,"webhookId":"b574c98f-2158-4bc4-a6b4-a46bb97530a0","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.id }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=  backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1600,-96],"id":"bd842d3c-7a03-4ad3-8eb1-ffc291f35890","name":"Create a file","webhookId":"41c48bcc-115e-4bfd-a3c6-3eeedffc977e","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ JSON.parse($json.valor).id }}.json","fileContent":"={{ $json.valor }}","commitMessage":"=backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2624,-176],"id":"2950c07d-40b6-4de4-a6cc-c0a1c57f1acb","name":"Edit a file","webhookId":"891a9314-398e-45e1-b63f-40d528dcd7b2","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"8a75f06c-7fd5-4bc6-8ad3-9e07cd7c0a25"}],"combinator":"and"},"renameOutput":"={{ false }}"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,-128],"id":"0363967e-f531-4096-94d1-bd144ce317d6","name":"Switch"},{"parameters":{"url":"={{ $json.typebot.url }}/api/v1/typebots","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"workspaceId","value":"={{ $json.typebot.workspace.id }}"}]},"options":{}},"id":"a059875d-5cc6-4466-b7fa-666126da7696","name":"List Typebots","type":"n8n-nodes-base.httpRequest","position":[320,-80],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"fieldToSplitOut":"typebots","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[576,-80],"id":"66dca096-29b3-43d3-b801-f814c4569eef","name":"Split Out"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List Typebots","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets1":{"main":[[],[],[{"node":"Create a file","type":"main","index":0}],[]]},"Compare Datasets":{"main":[[],[],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Compare Datasets1","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Switch":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"List Typebots":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get a file","type":"main","index":0},{"node":"Switch","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5bda2b4c-1cfc-4f4f-b936-ccb4400dea48","triggerCount":1,"tags":[]}