Backup N8N.json
{"createdAt":"2025-10-20T10:37:21.358Z","updatedAt":"2025-10-20T12:46:16.020Z","id":"YSltvyIQQ33vFG71","name":"Backup N8N","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,-80],"id":"022052df-f0ff-4901-b826-33d64b2e3421","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"92bb5093-454b-4c07-9fa8-102257d40100","name":"owner","value":"tmobolimpio","type":"string"},{"id":"1a88143d-7054-4d4a-87a3-af632cb26529","name":"repository","value":"n8n-backup","type":"string"},{"id":"c87700d6-e651-41d5-a6d4-57a194a08f90","name":"typebot.url","value":"https://typebot.prd.votorantim.tmob.com.br","type":"string"},{"id":"10677027-598e-4aab-aaf0-db5bbdb7fab2","name":"typebot.workspace.id","value":"cm7dahbq50001c7m972ujn7jt","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-80],"id":"67ceaa82-ca1a-43c5-9f6b-8c4295df7e0e","name":"Edit Fields"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1424,-288],"id":"6ea25b20-4c08-4706-a957-f03b0aaaeadf","name":"Extract from File"},{"parameters":{"mergeByFields":{"values":[{"field1":"texto.name","field2":"texto.name"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2064,-176],"id":"15ce2d61-e652-468b-957b-a52913cb20bd","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"ce4b0896-5693-4ebb-9458-22c2aa4a9921","name":"texto","value":"={{ $json.data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-288],"id":"4232a995-4f2b-4e75-ad3d-ee2a820ee79c","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"d147155e-45c2-49fc-b9b5-4ce2b18ce5ec","name":"texto","value":"={{$json}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,80],"id":"e6cc248f-7dbd-4ce6-9dc2-e9dc94e8d880","name":"Edit Fields2"},{"parameters":{"mergeByFields":{"values":[{"field1":"id","field2":"id"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1184,-160],"id":"4dc69678-ce24-4ee5-931a-ef3f233645f8","name":"Compare Datasets1"},{"parameters":{"assignments":{"assignments":[{"id":"4892c066-f6ec-48df-912b-9ae56c1ff108","name":"valor","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,-160],"id":"a244b9c0-8ee2-4971-ad31-40fa8e006d6c","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,-320],"id":"a50c9280-4528-40fa-94a3-b3d730bd7dca","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[944,-320],"id":"2d6be0eb-e67c-4df3-9a25-ce90b7e7f4c2","name":"Get a file","alwaysOutputData":false,"webhookId":"5dd68169-c277-4c9b-b8ff-d1f5697475dc","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.id }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=  backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1600,-96],"id":"25a11a3d-a957-4ed9-808e-18dd691531bf","name":"Create a file","webhookId":"bb3cf735-86b8-44ba-b8b9-52e3d525bec1","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ JSON.parse($json.valor).id }}.json","fileContent":"={{ $json.valor }}","commitMessage":"=backup em {{$now.toString()}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2624,-176],"id":"acfecdb0-543a-48cf-9ac9-91e5b797712f","name":"Edit a file","webhookId":"c1db78c1-065e-4e78-8384-51aec16ee070","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"8a75f06c-7fd5-4bc6-8ad3-9e07cd7c0a25"}],"combinator":"and"},"renameOutput":"={{ false }}"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,-128],"id":"3634224e-d85b-40b9-9af2-569ab832f5f4","name":"Switch"},{"parameters":{"url":"={{ $json.typebot.url }}/api/v1/typebots","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"workspaceId","value":"={{ $json.typebot.workspace.id }}"}]},"options":{}},"id":"be2309d4-f140-4efa-9ebf-c3eab5d7a563","name":"List Typebots","type":"n8n-nodes-base.httpRequest","position":[368,-80],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"fieldToSplitOut":"typebots","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[576,-80],"id":"88487197-c83c-4fd5-83d5-184c70642398","name":"Split Out"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List Typebots","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets1":{"main":[[],[],[{"node":"Create a file","type":"main","index":0}],[]]},"Compare Datasets":{"main":[[],[],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Compare Datasets1","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Switch":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"List Typebots":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get a file","type":"main","index":0},{"node":"Switch","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a5077d7-0157-411e-b8e8-31b839b0b2db","triggerCount":1,"tags":[]}