Backup Typebot1.json
{"createdAt":"2025-10-20T12:37:14.560Z","updatedAt":"2025-10-20T17:18:38.858Z","id":"AvZcoRm4wDZyxIMT","name":"Backup Typebot1","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-992,624],"id":"cd431e0b-3106-4bab-a884-31433e5ffabb","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"92bb5093-454b-4c07-9fa8-102257d40100","name":"owner","value":"tmobolimpio","type":"string"},{"id":"1a88143d-7054-4d4a-87a3-af632cb26529","name":"repository","value":"typebot-backup","type":"string"},{"id":"c87700d6-e651-41d5-a6d4-57a194a08f90","name":"typebot.url","value":"https://typebot.prd.votorantim.tmob.com.br","type":"string"},{"id":"10677027-598e-4aab-aaf0-db5bbdb7fab2","name":"typebot.workspace.id","value":"cm7dahbq50001c7m972ujn7jt","type":"string"},{"id":"7f740569-8f1b-4e89-a4dc-4fa61dd5fd0f","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,416],"id":"7600a932-0e2e-47cd-8a08-2ae2f3f3237b","name":"Edit Fields"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2656,240],"id":"ae9f6f86-c730-425a-b538-0d763173c523","name":"Extract from File"},{"parameters":{"mergeByFields":{"values":[{"field1":"texto.id","field2":"texto.id"}]},"resolve":"preferInput2","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[3296,352],"id":"55bcd6fe-ffd9-4092-9962-3603355e39bd","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"ce4b0896-5693-4ebb-9458-22c2aa4a9921","name":"texto","value":"={{ $json.data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,240],"id":"180c68a5-c08a-4839-87d4-7ef40dcdb231","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"d147155e-45c2-49fc-b9b5-4ce2b18ce5ec","name":"texto","value":"={{ $('Get Typebots').item.json.typebot }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,752],"id":"289c95ed-5c2f-40ca-8786-a75be7eac2ff","name":"Edit Fields2"},{"parameters":{"mergeByFields":{"values":[{"field1":"typebot.id","field2":"id"}]},"resolve":"preferInput1","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2448,368],"id":"4b72f922-abf6-4920-99fd-67be0c8ae059","name":"Compare Datasets1"},{"parameters":{"assignments":{"assignments":[{"id":"4892c066-f6ec-48df-912b-9ae56c1ff108","name":"valor","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3712,384],"id":"5376e55e-ba76-4fba-9e61-8f0f2bdc92f1","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1024,400],"id":"2b0d8c7f-4b1d-43aa-a5ef-a3aeafa87274","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.folderName }}{{ $json.typebot.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2176,208],"id":"50299d4b-0e88-43c6-92ef-1fd6135faf12","name":"Get a file","alwaysOutputData":true,"webhookId":"b574c98f-2158-4bc4-a6b4-a46bb97530a0","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.folderName }}{{ $json.typebot.name }}.json","fileContent":"={{ JSON.stringify($json.typebot) }}","commitMessage":"={{ $json.typebot.id }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2848,416],"id":"bd842d3c-7a03-4ad3-8eb1-ffc291f35890","name":"Create a file","webhookId":"41c48bcc-115e-4bfd-a3c6-3eeedffc977e","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"={{ $json.name?$json.name+'/':'' }}{{ $json.typebot.name }}.json","fileContent":"={{ JSON.stringify($json.typebot) }}","commitMessage":"={{ $json.typebot.id }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[4464,400],"id":"2950c07d-40b6-4de4-a6cc-c0a1c57f1acb","name":"Edit a file","webhookId":"891a9314-398e-45e1-b63f-40d528dcd7b2","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"8a75f06c-7fd5-4bc6-8ad3-9e07cd7c0a25"}],"combinator":"and"},"renameOutput":"={{ false }}"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2176,400],"id":"0363967e-f531-4096-94d1-bd144ce317d6","name":"Switch"},{"parameters":{"url":"={{ $json.typebot.url }}/api/v1/typebots","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"workspaceId","value":"={{ $json.typebot.workspace.id }}"}]},"options":{}},"id":"a059875d-5cc6-4466-b7fa-666126da7696","name":"List Typebots","type":"n8n-nodes-base.httpRequest","position":[-288,272],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"url":"={{ $json.typebot.url }}/api/v1/folders/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"workspaceId","value":"={{ $json.typebot.workspace.id }}"}]},"options":{}},"id":"21c7c5db-b35e-4e75-afbf-fbc77d6b1af9","name":"List Typebots Folder","type":"n8n-nodes-base.httpRequest","position":[-112,672],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"fieldToSplitOut":"typebots","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[144,32],"id":"14d7169c-b765-402c-9d7e-22cb9c817a2b","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"folders","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,752],"id":"87b33e4f-17a4-4698-b87b-8450a225787e","name":"Split Out2"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"typebot.id"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[608,0],"id":"f9175e4e-52a2-44f2-b7c9-4898d766863d","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"925f9573-3466-4dc9-a3a8-76599fad540a","name":"folderName","value":"={{ $json.folderName?$json.folderName+'/':'' }}","type":"string"},{"id":"493a6bfe-421b-4d9a-9db5-b189da151e0c","name":"typebot","value":"={{ $json.typebot }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,304],"id":"bd5dbe77-de80-4daa-bd07-8009a0370a7a","name":"Edit Fields4"},{"parameters":{"url":"={{ $('Edit Fields').item.json.typebot.url }}/api/v1/typebots/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"id":"1a1c16ff-acb9-4ed5-9e01-843f59f71330","name":"Get Typebots","type":"n8n-nodes-base.httpRequest","position":[400,384],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"url":"={{ $('Edit Fields').item.json.typebot.url }}/api/v1/typebots/{{ JSON.parse($json.valor).id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"id":"c1b1a0ad-c4fe-4ac9-8970-f088420c166d","name":"Get Typebots1","type":"n8n-nodes-base.httpRequest","position":[3904,384],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"cihAa0Gu5wsfRt58","name":"Bearer Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"typebot.folderId","field2":"id"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4192,400],"id":"162ca7b2-e90d-45f3-9859-81157bb7b973","name":"Merge3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"typebot.folderId","field2":"id"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1376,128],"id":"6008d7cf-4e10-4c91-8d5f-37a71fa7af73","name":"Merge Folder and files"},{"parameters":{"assignments":{"assignments":[{"id":"498bf20d-d8af-4de7-abea-480c18327d36","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"9af6ffff-6c65-4495-9175-78f234088e96","name":"folderName","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,752],"id":"b6df0e7a-2607-45b8-a3e0-313ee4cb81c9","name":"Edit Fields5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List Typebots","type":"main","index":0},{"node":"List Typebots Folder","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets1":{"main":[[{"node":"Create a file","type":"main","index":0}],[],[],[]]},"Compare Datasets":{"main":[[],[],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Get Typebots1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Compare Datasets1","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Switch":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"List Typebots":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"List Typebots Folder":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Get Typebots","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge Folder and files","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Get a file","type":"main","index":0}]]},"Get Typebots":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Edit Fields2","type":"main","index":0}]]},"Get Typebots1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Merge Folder and files":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge Folder and files","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-20T13:00:17.010-03:00","Readable date":"October 20th 2025, 1:00:17 pm","Readable time":"1:00:17 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"13","Minute":"00","Second":"17","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"f5a8f66d-4014-4261-88f0-e0d696bc554c","triggerCount":1,"tags":[]}