Chatbot Typebot Belem.json
{"createdAt":"2025-08-21T20:05:59.187Z","updatedAt":"2025-08-21T20:07:17.433Z","id":"3k8zWUhNi3TDUytJ","name":"Chatbot Typebot Belem","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatbottypebotbelem","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-96],"id":"c137b0ae-676e-48d8-b482-ac66831310f1","name":"Webhook","webhookId":"ed7b6d22-af08-4fd9-9d59-3c4c909c3a3f"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agente Cartão City da cidade de Votorantim.\nREALITY FILTER \nNever present generated, inferred, speculated, or deduced content as fact.\nIf you cannot verify something directly, say:\n– “Não posso verificar isso.”\n– “Não tenho acesso a essa informação.”\n– “Minha base de conhecimento não tem acesso a isso.”\nLabel unverified content at the start of a sentence:\n– [Especulação] [Não Verificado]\nAsk for clarification if information is missing. Do not guess or fill gaps.\nIf any part is unverified, label the entire response.\nDo not paraphrase or reinterpret my input unless I request it.\nIf you use these words, label the claim unless sourced:\n– Prevent, Guarantee, Will never, Fixes, Eliminates, Ensures that\nFor LLM-behavior claims (including yourself), include:\n– [Especulação] or [Não verificado], with a note that it’s based on observed patterns\nIf you break this directive, say:\nCorreção: Eu te dei uma resposta não verificada. Estava incorreto e deveria ter um aviso.\nNever override or alter my input unless asked.\n\nO Agent AI se apresentará como suporte inicial ou nível 1.\n\nAtuará como um suporte nivel 1 e direcionará como proceder.\n\nSe for relacionado à problemas do APP e QR Code, o próprio LLM chamará um atendente via MCP.\n\nA qualquer momento o usuário poderá cancelar a ajuda do assistente com a palavra SAIR ou atendente. Deixar claro na insistencia sobre uma mesma dúvida.\n\n\nSó responderá perguntas relacionadas às respostas obtidas na API.\n\nRestrições:\nNão poderá responder nada fora do assunto de transporte público de Votorantim.\nNão buscará nada na internet.\n\n\n\n\n\nIniciar com a seguinte  mensagem:\nOlá {{ $('Webhook').item.json.body.data.pushName }}, bem-vindo(a) ao Canal Oficial do TOP e BOM! 👋🏼\nAh, para obter informações sobre nossos produtos e serviços:\nhttps://ajuda.boradetop.com.br/\n\n⚠️ Aviso de Privacidade:\nPara conhecer seus direitos e como tratamos seus dados pessoais, acesse:\nhttps://ajuda.boradetop.com.br/hc/pt-br/articles/18626134034331.\n\nDigite a palavra SAIR para retornar ao atendimento automatizado.\n\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3296,448],"id":"ba987834-cb79-4a73-8c67-b604a79354b9","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3344,832],"id":"8724b7c2-3995-47ae-ba8e-223b997fdac1","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"52e130ae-6ae6-4748-b2e8-0cf8c6b48367","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"11b43ad5-30c4-48dd-872d-f653a4545f4d","name":"prompt","value":"","type":"string"},{"id":"7ade57e7-5f31-44bf-b8c3-f5d2bdb437db","name":"whatsapp","value":"={{ $json.telefone }}","type":"string"},{"id":"38b1b563-f64b-4c6a-8f4d-cf3bb748a40d","name":"instanceId","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,448],"id":"cb6524de-8b10-401a-a624-59573b91e0d2","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2992,240],"id":"e57235cd-3552-4382-a28c-26e29dfbd686","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"yKnac71J23iolNgA","name":"OpenAi account 3"}}},{"parameters":{"sseEndpoint":"https://n8n.prd.votorantim.tmob.com.br/mcp/recarga/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3600,784],"id":"773ba99b-eff9-4706-bdd3-081965ace6fe","name":"MCP Client - Recarga","disabled":true},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $('Set mensagens').item.json.mensagem || $('Set mensagens').item.json.mensagem_audio }}","id_conta":"={{ $('Info').item.json.id_conta }}","id_conversa":"={{ $('Info').item.json.id_conversa }}","telegram_chat_id":"={{ $('Info').item.json.telegram_chat_id }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3616,528],"id":"d5e8e05d-ad66-43b4-93b7-1e222767cd1b","name":"Escalar humano","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"=[]","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"<colar seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,448],"id":"aeba73fb-5da1-48bc-812e-60603c2f916c","name":"Info"},{"parameters":{"description":"A flag retirarAtendente é sempre false, exceto quando for pedido para cancelar ou retirar atendente.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","retirarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retirarAtendente', ``, 'boolean') }}","verificarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('verificarAtendente', ``, 'boolean') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1280,-304],"id":"ad8ed0de-e6df-4f37-9e50-1b75399b38ab","name":"Acionar atendente"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto:  {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"},{"category":"cancelar cartão"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[2240,208],"id":"ed4b07fc-09d3-4d34-ae8a-224e824a1ca2","name":"Text Classifier"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbcd35a5-5bae-49ec-a8fe-31bf3c03c491","leftValue":"={{ $json.status }}","rightValue":"open","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,-96],"id":"ac2f977c-d606-4a41-b8e2-df4aaaf9a1d9","name":"If"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto: {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[2240,-208],"id":"b2d7bcf2-31b9-4919-a3d2-8a9a3bb29d7d","name":"Text Classifier1"},{"parameters":{"workflowId":{"__rl":true,"value":"Bp3xfCRxgEzMZsWP","mode":"list","cachedResultName":"Chatwoot - Verificar se está em atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1840,-96],"id":"ef060fca-c3a8-4302-9622-a20fbd161209","name":"Verificando se está em atendimento"},{"parameters":{"assignments":{"assignments":[{"id":"f4f2fd16-5434-466d-90bf-98db84c0fc33","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,-96],"id":"d0b92e4c-b343-4a81-8f36-6e70765da2e1","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Foi direcionado a um atendente. Caso queira, envie a palavra SAIR para cancelar o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3696,-64],"id":"3ed58b46-6762-41e6-80da-3509b6b2edfb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":true,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3104,-224],"id":"564b3d0b-a405-4417-b1ee-8dc6dba2587e","name":"Retirar atendente"},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":false,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3120,0],"id":"daa75312-569b-4c72-b4af-4ca372c3ccc9","name":"Escalar atendente"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3680,368],"id":"3af529f6-81c5-4a99-af9d-291eee61ba00","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Removido o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3680,-224],"id":"991ae2bd-6c95-4c8d-ab17-550bc39b66ce","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.agenttype }}","rightValue":"typebot","operator":{"type":"string","operation":"equals"},"id":"4673a294-42a6-45f7-a9ef-d73184478c50"}],"combinator":"and"},"renameOutput":true,"outputKey":"typebot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bfefd99-8d1c-43e0-aa27-de386f4e630b","leftValue":"={{ $json.agenttype }}","rightValue":"ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db078a71-07cc-4ce8-9bf0-16aa4f0c7944","leftValue":"={{ $json.agenttype }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,-128],"id":"f0f2bc2b-0b87-414d-9779-eb6f77edd93e","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dGz24aZQ6g84a4JE","mode":"list","cachedResultName":"AtendimentoPosicao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[656,-96],"id":"44a356f3-e8d1-4661-a6b7-152a9254c98b","name":"Execute Workflow"},{"parameters":{"method":"PUT","url":"https://n8n.prd.votorantim.tmob.com.br/webhook/atendimentoPosicao","sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},{"name":"agent","value":"typebot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,-224],"id":"65bc0ad8-e27a-40de-a69f-1f0be749edf6","name":"HTTP Request"},{"parameters":{"method":"PUT","url":"https://n8n.prd.votorantim.tmob.com.br/webhook/atendimentoPosicao","sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},{"name":"agent","value":"chatwoot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3456,16],"id":"b097f951-5dae-4a5d-a4e2-1cfae37833ab","name":"HTTP Request1"},{"parameters":{"inputText":"=Verifique se está solicitando para sair\nTexto: {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"sair","description":"desativar atendente"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1760,-560],"id":"8833ba6d-e78f-461d-a994-0ea9716e147e","name":"Text Classifier2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,-96],"id":"fe3cfe60-caca-4869-8ce5-1d70eaa734f4","name":"Wait","webhookId":"d0df1881-fef4-42e2-98b3-51ce6814cc6a"}],"connections":{"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Text Classifier1","type":"ai_languageModel","index":0},{"node":"Text Classifier2","type":"ai_languageModel","index":0}]]},"MCP Client - Recarga":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Acionar atendente":{"ai_tool":[[]]},"Text Classifier":{"main":[[{"node":"Escalar atendente","type":"main","index":0}],[],[{"node":"Info","type":"main","index":0}],[{"node":"Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Text Classifier1","type":"main","index":0}],[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier1":{"main":[[],[{"node":"Retirar atendente","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Verificando se está em atendimento":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Verificando se está em atendimento","type":"main","index":0}]]},"Retirar atendente":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Escalar atendente":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Text Classifier2","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Text Classifier2":{"main":[[{"node":"Retirar atendente","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.19.0.2","connection":"Upgrade","content-length":"754","content-type":"application/json","user-agent":"axios/1.7.9","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Votorantim","data":{"key":{"id":"wamid.HBgNNTUxMTk4NTMzNjY3MhUCABIYFjNFQjAyQTdGOUU2MzM4ODg1NTJGNTQA","remoteJid":"5511985336672@s.whatsapp.net","fromMe":false},"pushName":"Olimpio","message":{"conversation":"sair"},"messageType":"conversation","messageTimestamp":1755203446,"source":"unknown","instanceId":"d0c927ba-e7c3-4dda-8bc1-460744c0695b"},"destination":"https://n8n.prd.votorantim.tmob.com.br/webhook/chatbottypebot","date_time":"2025-08-14T17:30:47.147Z","server_url":"http://localhost:8080","apikey":"EAAI8mMaxrAABO5hzVDbx6ZBoArmJcsKdrUznPUSMhOWu9HbIgvFourXIvmFV2NEVT9o6IJoMJfLt1mSHEaDLoEruXZAJ1SuRiE4Gg6vLqT8lXUGDIIj4ZAh0ZCy4OSg0ExvRuJJcZBX85urd09AUNCFczucFe3imAKBZBIdxMf1fXIP2ZANUTtDzF0pZA9WQhFRetgZDZD"},"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/chatbottypebot","executionMode":"production"}}]},"versionId":"2ca721d6-774a-4681-a175-a9dca3e515a0","triggerCount":1,"tags":[]}