Chatbot - Dados Cartao - Belem.json
{"createdAt":"2025-08-20T19:11:52.643Z","updatedAt":"2025-08-21T19:40:25.527Z","id":"jmVyIMybhPKeliUe","name":"Chatbot - Dados Cartao - Belem","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,-80],"id":"be0fb9d4-b8c4-45a2-b254-07ffd00ff9b6","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://external.api.prd.belem.tmob.com.br/api/cards/JWT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"string"},{"name":"email","value":"string"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-80],"id":"c2ce7a9b-a82a-41f8-9c1d-6484bc10c80d","name":"HTTP Request"},{"parameters":{"url":"=https://externaloficial.api.prd.belem.tmob.com.br/api/cards/{{ $('When Executed by Another Workflow').item.json.whatsapp }}/get-card-by-phonenumber ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-80],"id":"b3b4ca5d-3ffd-4d01-8804-6ab4f53fa7d0","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if(item.json.transitProductId== 400)\n    return item;\n}\n\n//return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-80],"id":"d3568331-9d49-484c-8424-0ff495f07674","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"whatsapp":"11985336672"}}]},"versionId":"fdd7ec70-bb37-4934-b994-60a6601dacb0","triggerCount":0,"tags":[]}