Chatwoot - Verificar se está em atendimento.json
{"createdAt":"2025-07-16T17:29:54.232Z","updatedAt":"2025-07-16T17:44:43.978Z","id":"Bp3xfCRxgEzMZsWP","name":"Chatwoot - Verificar se está em atendimento","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"phoneNumber\": \"+5511985851122\"\n}"},"id":"96dc0527-6060-4043-9879-442c2fd67ae3","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[660,340]},{"parameters":{"method":"POST","url":"https://chatwoot.prd.votorantim.tmob.com.br/auth/sign_in","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGM2TkRFNk1EUXVNREExV2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--98d3c7dd57d4c08eeecb129a3ea7eb881c91df1a; user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f"},{"name":"cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGM2TkRFNk1EUXVNREExV2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--98d3c7dd57d4c08eeecb129a3ea7eb881c91df1a;user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f;"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"olimpio.farias@tecsomobi.com.br"},{"name":"password","value":"Tmob@123,"}]},"options":{"batching":{"batch":{}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,340],"id":"281471e6-832f-4c6d-99ea-884e3ca500ae","name":"HTTP - Sign in"},{"parameters":{"url":"https://chatwoot.prd.votorantim.tmob.com.br/api//v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').item.json.phoneNumber.replace('+','') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.data.access_token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,340],"id":"61a71419-cd17-4902-a409-31b80fab22cc","name":"HTTP - Get Contact By Phone"},{"parameters":{"url":"=https://chatwoot.prd.votorantim.tmob.com.br/api//v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZR14pmxiFPoYLfDRBLoRppoJ"},{"name":"Cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGc2TkRZNk5ERXVOREU0V2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--236cf5353794f72d30c0de78a7800760f71e7bf0; user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f"},{"name":"cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGc2TkRZNk5ERXVOREU0V2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--236cf5353794f72d30c0de78a7800760f71e7bf0;user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f;"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,340],"id":"0f32bbca-b5e8-43e0-a03f-ed6717ad18cf","name":"HTTP - Get conversations"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": {{$json.payload[0].status==\"open\"?true:false}}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,340],"id":"5f13dd98-7ecb-4771-ab66-21812e15ea6a","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP - Sign in","type":"main","index":0}]]},"HTTP - Sign in":{"main":[[{"node":"HTTP - Get Contact By Phone","type":"main","index":0}]]},"HTTP - Get Contact By Phone":{"main":[[{"node":"HTTP - Get conversations","type":"main","index":0}]]},"HTTP - Get conversations":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"phoneNumber":"5511985336672","retirarAtendente":true,"verificarAtendente":false}}]},"versionId":"aee7f5a5-80af-4eb6-ac07-c6318e8d2937","triggerCount":0,"tags":[{"createdAt":"2025-07-11T13:56:25.732Z","updatedAt":"2025-07-11T13:56:25.732Z","id":"4RnpFjyvklykXmUc","name":"chatwoot"}]}