Chatbot.json
{"createdAt":"2025-05-06T16:53:11.658Z","updatedAt":"2025-08-12T17:15:00.440Z","id":"sQv3XDbiHHmQ3iBS","name":"Chatbot","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-96],"id":"fc246ae3-607a-4134-a5c4-83f5691c5498","name":"Webhook","webhookId":"4c493375-469d-4a2e-a743-87e5c2c2664c"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agente Cartão City da cidade de Votorantim.\nREALITY FILTER \nNever present generated, inferred, speculated, or deduced content as fact.\nIf you cannot verify something directly, say:\n– “Não posso verificar isso.”\n– “Não tenho acesso a essa informação.”\n– “Minha base de conhecimento não tem acesso a isso.”\nLabel unverified content at the start of a sentence:\n– [Especulação] [Não Verificado]\nAsk for clarification if information is missing. Do not guess or fill gaps.\nIf any part is unverified, label the entire response.\nDo not paraphrase or reinterpret my input unless I request it.\nIf you use these words, label the claim unless sourced:\n– Prevent, Guarantee, Will never, Fixes, Eliminates, Ensures that\nFor LLM-behavior claims (including yourself), include:\n– [Especulação] or [Não verificado], with a note that it’s based on observed patterns\nIf you break this directive, say:\nCorreção: Eu te dei uma resposta não verificada. Estava incorreto e deveria ter um aviso.\nNever override or alter my input unless asked.\n\n\n\n\nSó responderá perguntas relacionadas às respostas obtidas na API.\n\nRestrições:\nNão poderá responder nada fora do assunto de transporte público de Votorantim.\nNão buscará nada na internet.\nNão pedir e nao dizer nada sobre cognito\nNão informar dados pessoais (numero de cartao, cpf)\n\nObrigações:\nPerguntar se a pessoa que quer recarregar ou cancelar o cartão. Também poderá falar com algum atendente.\nPara cancelar: Pedir o numero do documento e a data de nascimento para cancelar o cartão.\nPara recargar ou carregar o cartão: Pedir o numero o numero do cartão e o valor que deseja recarregar. \n\n\nIniciar com a seguinte  mensagem:\nOlá {{ $('Webhook').item.json.body.data.pushName }}, bem-vindo(a) ao Canal Oficial do TOP e BOM! 👋🏼\nAh, para obter informações sobre nossos produtos e serviços:\nhttps://ajuda.boradetop.com.br/\n\n⚠️ Aviso de Privacidade:\nPara conhecer seus direitos e como tratamos seus dados pessoais, acesse:\nhttps://ajuda.boradetop.com.br/hc/pt-br/articles/18626134034331.\n\n\n\n\nEnviar o  {{ $json.whatsapp.substring(2) }} e {{ $json.instanceId }} para MCP Client - Recarga e obter dados de cartão pelo numero de whatsapp e confirmar se o atendimento é realmente para esse numero de whatsapp e cartão.\n\n\n\n\nA primeira coisa que irá fazer é pegar o token no Tool JWT\n\n\nMap the json like the example from:\nFrom:\n{\n    \"id\": 3825,\n    \"name\": \"CIDADÃO\",\n    \"formatedLogical\": \"29.09.00000010-9\",\n    \"toIssuerCode\": 29,\n    \"numberPhone\": \"11985336672\",\n    \"documento\": \"10096249030\",\n    \"balance\": 0,\n    \"transitProductId\": 500,\n    \"usrUserId\": 3825,\n    \"medMediaTypeId\": \"9\",\n    \"csn\": \"2778309092\",\n    \"userName\": \"EVELIM TECSOMOBI TESTE\",\n    \"birthDate\": \"2020-12-01T00:00:00\",\n    \"status\": \"A\",\n    \"medMediaId\": 4066\n}\n\nTo:\n\n{\n    \n    \"cartao\": \"29.09.00000010-9\",\n    \"medMediaCsn\": \"2778309092\",\n    \"medMediaTypeId\": \"9\",\n    \"medTransitProductCode\": \"500\",\n    \"toIssuerCode\": \"29\",\n    \"usrUserDocumentValue\": \"10096249030\"\n}\n\nAo realizar a recarga, retorne o campo \"qrCodeText\" que é codigo PIX para pagamento.\n\nIntenções:\nCancelar cartão: Cancelar, cancelamento, perdi cartão, preciso cancelar, quebrado, quebrei, perdi, cancelar urgente, cancelar agora,\nQuero cancelar e pedir a segunda via do top, Perdi meu cartão, Inutilizar cartão, Desativar cartão, Bloquear cartão, Encerrar cartão\nSegunda via: 2via, 2avia, nova via, solicitar nova via, solicitar outro cartão, Cartão substituto, Cartão de reposição, Nova emissão de\ncartão, Segundo cartão\nAcompanhamento de entrega: status entrega, onde esta meu cartão, rastrear cartão, rastreio, cartão não chegou, onde esta meu\ncartão, Solicitei meu top para entregar e gostaria de saber se endereço está certo, Não recebi meu cartão; Cartão não chegou; Meu\ncartão não chegou; Meu cartão está atrasado; Consultar a entrega do cartão; Onde saber onde meu cartão está, Rastreamento de\nentrega, Acompanhamento logístico, Verificação de envio, Acompanhamento de transporte, Rastreio de pacote\nConsulta de saldo: qual meu saldo, consultar o saldo, saldo, saldo do cartão, consulta de recarga, Ver meu saldo no top,Débitos\nincorretos do cartão, Verificação de saldo, Checagem de saldo, Conferência de saldo, Visualização de saldo, Confirmação de saldo\nComo adquirir: Novo cartão, como solicitar, solicitar cartão, Adquirir o top, Tinha um cartão bom e queria mudar para o top, porque a\nempresa já depositou o valor, Quero fazer o meu top, Trocar o bom pelo top, Fazer cartão TOP, Cartão transporte top, Cartão Top\nEscolar, Cartão top, Como obter, Como conseguir, Como conseguir aquisição de, Como conquistar\nProblemas com cartão ou erro de leitura: cartão não lê, erro de leitura, cartão com erro, Dificuldades com o cartão ou falha na\nleitura, Incidências relacionadas ao cartão ou falha de leitura, Questões com o cartão ou problema de leitura, cartão ou falha ao ler,\nComplicações com o cartão ou leitura incorreta, Adversidades com o cartão ou problema de leitura\nComo liberar recarga:recarga pendente, comprei no aplicativo e não caiu, recarga não caiu, cade minha recarga, Recarga incompleta,\nEstação X, recarreguei 20 reais e não caiu, Como desbloquear a recarga, Como permitir a recarga, Como ativar a recarga, Como\nhabilitar a recarga, Como conceder a recarga, Como liberar o carregamento, Como validar a recarga, Como disponibilizar a recarga\nTransferência de saldo: como transferir saldo, transferir saldo, cade meu saldo, Transferência de crédito, Movimentação de saldo,\nTransferência de recursos, Transmissão de saldo, Realocação de saldo, Remessa de saldo, Transferência de valores, Transferência de\ncrédito disponível\nIntegração: não tive integração, não realizou integração, falha na integração, erro de integração, usei e não descontou integração\nComo agendar atendimento: agendar atendimento, preciso agendar, atendimento loja, Marcar horário para fazer o cartão top, Cartão\ntop via pernambucanas, Como retirar cartão; Agendar retirada do cartão; Verificar agendamento da retirada; Já solicitei meu cartão,\ncomo posso retirar?; Posso retirar 2a via em algum posto de atendimento; Confirmar endereço de retirada; Já fiz o pedido, onde posso\nretirar; Onde posso retirar o cartão?\nConsultar agendamento: status agendamento, consulta agendamento, confirmar agendamento, Quando posso retirar o meu cartão,\nComo confirmar agendamento, Documento para retirada; O que levar para tirar o cartão; Qual documento devo levar para retirar meu\ncartão; Documento aceito\nOnde retirar o cartão: emissão do cartão, onde emitir, loja emissão; Quando posso retirar o meu cartão; Documento para retirar\ncartão; Posso retirar 2a via em algum posto de atendimento; Outra pessoa pode retirar por mim; Posso retirar com documento digital?\nCota não disponível: cota sumiu, cade minha cota, cota escolar, passe livre, meia tarifa\nStatus revalidação ou solicitação: revalidação, revalidar beneficio escolar, beneficio aprovado, não liberou meu beneficio\nData de validade do benefício: sênior vencido, beneficio venceu, mensagem de vencido, Renovação benefício sênior, Desbloqueio do\nbenefício senior, Benefício senior, como consigo desbloquear o cartão top idoso\nFalar com atendente: atendimento, humano, falar com atendimento, atender, falar, quero ajuda, quero atendimento, atendente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1840,448],"id":"e15a443b-2dda-42a7-b5c9-33ab267b91a0","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1888,832],"id":"dcd41c9b-fc5b-47c1-bf4b-360d265e70d1","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"52e130ae-6ae6-4748-b2e8-0cf8c6b48367","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"11b43ad5-30c4-48dd-872d-f653a4545f4d","name":"prompt","value":"","type":"string"},{"id":"7ade57e7-5f31-44bf-b8c3-f5d2bdb437db","name":"whatsapp","value":"={{ $json.telefone }}","type":"string"},{"id":"38b1b563-f64b-4c6a-8f4d-cf3bb748a40d","name":"instanceId","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,448],"id":"d35bdac8-d124-43d1-8cc1-df1419a9256d","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1536,240],"id":"f0483de4-71e6-41f3-b185-a7c194bd58e7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"yKnac71J23iolNgA","name":"OpenAi account 3"}}},{"parameters":{"sseEndpoint":"https://n8n.prd.votorantim.tmob.com.br/mcp/recarga/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2144,784],"id":"cccdee10-f8f5-4fbd-8f7c-5565b73707b5","name":"MCP Client - Recarga"},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $('Set mensagens').item.json.mensagem || $('Set mensagens').item.json.mensagem_audio }}","id_conta":"={{ $('Info').item.json.id_conta }}","id_conversa":"={{ $('Info').item.json.id_conversa }}","telegram_chat_id":"={{ $('Info').item.json.telegram_chat_id }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2160,528],"id":"e7ee7401-9cee-4f4d-af06-4435e7816227","name":"Escalar humano","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"=[]","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"<colar seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,448],"id":"d0ce23c9-383e-43bc-a2ff-9e02beb2eff5","name":"Info"},{"parameters":{"description":"A flag retirarAtendente é sempre false, exceto quando for pedido para cancelar ou retirar atendente.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","retirarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retirarAtendente', ``, 'boolean') }}","verificarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('verificarAtendente', ``, 'boolean') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1280,-304],"id":"5d397a74-5649-4f72-bfd6-a9b32267dc0f","name":"Acionar atendente"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto:  {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"},{"category":"cancelar cartão"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[784,208],"id":"5fb95b22-7587-4780-8b6d-3cc6d11c9bd5","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[160,512],"id":"e0616785-af3b-41b0-bcc2-730677017a50","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"VxDuHjFpF8FRfQ1X","name":"Ollama account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbcd35a5-5bae-49ec-a8fe-31bf3c03c491","leftValue":"={{ $json.status }}","rightValue":"open","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,-96],"id":"4c54a497-6b51-4f1b-b496-975dbf8b2a7f","name":"If"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto: {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[784,-208],"id":"bdd9d772-9881-47d6-bc4c-576102a1fbb1","name":"Text Classifier1"},{"parameters":{"workflowId":{"__rl":true,"value":"Bp3xfCRxgEzMZsWP","mode":"list","cachedResultName":"Chatwoot - Verificar se está em atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,-96],"id":"6149f304-f4c7-42a6-9840-0dd366bacc83","name":"Verificando se está em atendimento"},{"parameters":{"assignments":{"assignments":[{"id":"f4f2fd16-5434-466d-90bf-98db84c0fc33","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-96],"id":"7d5914cc-788d-4dea-bbe2-8f3a3ad7c8c7","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"{{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Foi direcionado a um atendente. Caso queira, envie a palavra SAIR para cancelar o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,-64],"id":"ffcb2756-03f5-480a-999e-ece8d1108e51","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":true,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1648,-224],"id":"d1245ab0-b2fa-4876-91b2-8bc1ca7f1f90","name":"Retirar atendente"},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":false,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1664,0],"id":"ff3c5bb1-add1-47ed-bfb7-b08b9af1d517","name":"Escalar atendente"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2224,368],"id":"f7a65033-d1a9-4aff-851f-503953242db8","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"{{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Removido o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,-224],"id":"384a1aab-3c87-40c1-9dea-91ab037b2e72","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"MCP Client - Recarga":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Acionar atendente":{"ai_tool":[[]]},"Text Classifier":{"main":[[{"node":"Escalar atendente","type":"main","index":0}],[],[{"node":"Info","type":"main","index":0}],[{"node":"Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Text Classifier1","type":"main","index":0}],[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier1":{"main":[[],[{"node":"Retirar atendente","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Verificando se está em atendimento":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Verificando se está em atendimento","type":"main","index":0}]]},"Retirar atendente":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Escalar atendente":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.19.0.2","connection":"Upgrade","content-length":"748","content-type":"application/json","user-agent":"axios/1.7.9","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Votorantim","data":{"key":{"id":"wamid.HBgNNTUxMTk4NTMzNjY3MhUCABIYFjNFQjA2NTYyNzc1ODYzMjQ3MUQ1QjUA","remoteJid":"5511985336672@s.whatsapp.net","fromMe":false},"pushName":"Olimpio","message":{"conversation":"Olá"},"messageType":"conversation","messageTimestamp":1755009205,"source":"unknown","instanceId":"d0c927ba-e7c3-4dda-8bc1-460744c0695b"},"destination":"https://n8n.prd.votorantim.tmob.com.br/webhook/whatsapp","date_time":"2025-08-12T11:33:27.203Z","server_url":"http://localhost:8080","apikey":"EAAI8mMaxrAABO5hzVDbx6ZBoArmJcsKdrUznPUSMhOWu9HbIgvFourXIvmFV2NEVT9o6IJoMJfLt1mSHEaDLoEruXZAJ1SuRiE4Gg6vLqT8lXUGDIIj4ZAh0ZCy4OSg0ExvRuJJcZBX85urd09AUNCFczucFe3imAKBZBIdxMf1fXIP2ZANUTtDzF0pZA9WQhFRetgZDZD"},"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/whatsapp","executionMode":"production"}}]},"versionId":"3684d832-8eb4-4391-8550-7f3caf9af27c","triggerCount":1,"tags":[]}