Chatwoot Webhook.json
{"createdAt":"2025-07-11T13:56:20.928Z","updatedAt":"2025-07-14T19:57:14.146Z","id":"Y1xP4gGKVUAzRszO","name":"Chatwoot Webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatwoot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"3030fc36-6c01-40af-aa0b-685c9042c0a1","name":"Webhook","webhookId":"78b92e1a-739f-4d3b-9bba-a88a227c2b8c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a95cba3-f3f1-4bf4-ada6-1e9cbfac721c","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"afed1924-feaf-4196-9920-b342e598098a","leftValue":"={{ $json.body.content.toLowerCase() }}","rightValue":"atendente","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,0],"id":"a89d6430-9790-4d91-98e4-d7a59ad36eae","name":"If é entrada?"},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.conversation.meta.sender.phone_number }}"},"matchingColumns":["conversationId"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[460,-100],"id":"a0502486-e723-4c11-af8f-5a6b5c5d1c2f","name":"Execute Workflow"}],"connections":{"Webhook":{"main":[[{"node":"If é entrada?","type":"main","index":0}]]},"If é entrada?":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.20.0.4","connection":"Upgrade","content-length":"2449","accept":"application/json","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3"},"params":{},"query":{},"body":{"account":{"id":1,"name":"Tecsomobi"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"oi","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":9,"contact_id":2,"inbox_id":1,"source_id":"9fce720d-98a6-4c74-93a1-9f7db8db0044","created_at":"2025-05-08T22:26:22.304Z","updated_at":"2025-05-08T22:26:22.304Z","hmac_verified":false,"pubsub_token":"97CdhM9Y7osxXkmsdQMaKksG"},"id":6,"inbox_id":1,"messages":[{"id":277,"content":"oi","account_id":1,"inbox_id":1,"conversation_id":6,"message_type":0,"created_at":1752511169,"updated_at":"2025-07-14T16:39:29.135Z","private":false,"status":"sent","source_id":"WAID:wamid.HBgNNTUxMTk4NTMzNjY3MhUCABIYFjNFQjA0Q0ZCQUFCQTdBREIzRDUwNzUA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"oi","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1752511169,"contact_inbox":{"source_id":"9fce720d-98a6-4c74-93a1-9f7db8db0044"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2,"identifier":"5511985336672@s.whatsapp.net","name":"Olimpio","phone_number":"+5511985336672","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2,"identifier":"5511985336672@s.whatsapp.net","name":"Olimpio","phone_number":"+5511985336672","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":"2025-05-08T22:26:26.218Z","priority":null,"waiting_since":1752511169,"agent_last_seen_at":1752509276,"contact_last_seen_at":0,"last_activity_at":1752511169,"timestamp":1752511169,"created_at":1746743182,"updated_at":1752511169.149811},"created_at":"2025-07-14T16:39:29.135Z","id":277,"inbox":{"id":1,"name":"Tecsomobi"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"Tecsomobi"},"additional_attributes":{},"avatar":"","custom_attributes":{},"email":null,"id":2,"identifier":"5511985336672@s.whatsapp.net","name":"Olimpio","phone_number":"+5511985336672","thumbnail":"","blocked":false},"source_id":"WAID:wamid.HBgNNTUxMTk4NTMzNjY3MhUCABIYFjNFQjA0Q0ZCQUFCQTdBREIzRDUwNzUA","event":"message_created"},"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/chatwoot","executionMode":"production"}}]},"versionId":"755768e2-df92-4e03-972b-ef716dc37c61","triggerCount":1,"tags":[{"createdAt":"2025-07-11T13:56:25.732Z","updatedAt":"2025-07-11T13:56:25.732Z","id":"4RnpFjyvklykXmUc","name":"chatwoot"}]}