Chatbot - Tool - Cancelar Cartão.json
{"createdAt":"2025-07-21T18:49:02.810Z","updatedAt":"2025-08-18T17:42:29.559Z","id":"V7gh2zGRf6KlLkhE","name":"Chatbot - Tool - Cancelar Cartão","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsapp"},{"name":"documento"},{"name":"dataNascimento"},{"name":"cartao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,-304],"id":"1c7a7979-28c1-4b00-b53d-aaf84001258b","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://external.api.prd.votorantim.tmob.com.br/api/cards/JWT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"string"},{"name":"email","value":"string"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-256],"id":"33ac501b-a538-4563-9fc0-1b780a96c03c","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://external.api.prd.votorantim.tmob.com.br/api/cards/hotlist","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"cardNumber\": \"{{ $('Merge').item.json.cartao }}\",\n  \"hotlistReasonId\": 1,\n  \"isReIssue\": true,\n  \"isTransfer\": true,\n  \"scheduleDate\": \"{{ $now }}\",\n  \"usrOrganizationId\": \"string\",\n  \"medMediaId\": {{ $('Execute Workflow').item.json.medMediaId }},\n  \"blameUser\": \"Whatsapp\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,-256],"id":"78eed140-e1d7-4bde-96e2-e0e646b6ff7b","name":"HTTP Request1"},{"parameters":{"workflowId":{"__rl":true,"value":"ouxNK0IdZdDGgk3y","mode":"list","cachedResultName":"Chatbot - Dados Cartao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.whatsapp }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,-240],"id":"c6804ce0-cd84-4b7b-b024-ab0e3738ecbd","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c6cde3b-a124-44f1-a5e7-76e1c1bb3048","leftValue":"={{ $('Date & Time').item.json.newDate }}","rightValue":"={{ $json.newDate }}","operator":{"type":"string","operation":"contains"}},{"id":"663b80bb-d868-47a3-866e-c0fc829993fb","leftValue":"={{ $('Execute Workflow').item.json.documento }}","rightValue":"={{ $('Merge').item.json.documento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ef889349-5078-47b0-a75b-f7930747af83","leftValue":"={{ $('Execute Workflow').item.json.formatedLogical }}","rightValue":"={{ $('Merge').item.json.cartao }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-256],"id":"bd0ac922-5cbd-4f92-8865-3ab1cbf0bd1d","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"908a49a7-dc73-4715-bcba-218b3b2c1831","name":"mensagem","value":"Os dados inseridos estão incorretos. Tente novamente.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-48],"id":"d44360bf-11ed-4c79-b47d-78b47e6c71ef","name":"Edit Fields"},{"parameters":{"operation":"addToDate","magnitude":"={{ DateTime.fromFormat($('Merge').item.json.dataNascimento, \"dd/MM/yyyy\").toFormat('yyyy-MM-dd') }}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[432,-240],"id":"b924d038-7f53-45e3-9ebc-36ffe82d0785","name":"Date & Time"},{"parameters":{"operation":"addToDate","magnitude":"={{ $('Execute Workflow').item.json.birthDate }}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[640,-240],"id":"5e225755-0bef-460c-b10e-9a22cd8e4042","name":"Date & Time1"},{"parameters":{"httpMethod":"POST","path":"cancelamentocartao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-96],"id":"5cb730f7-1e50-4315-9adb-604a3f5419db","name":"Webhook","webhookId":"a66fdc62-ecd4-484c-bd25-209dcebb1f44"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-144,-224],"id":"82e5fef2-f575-44be-843f-19059162b24e","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1632,-48],"id":"cadbdaeb-0ea2-4040-a06c-2e37c322cd30","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2000,-192],"id":"72a947c8-247a-4fbe-9b9f-c782219ca2f2","name":"Respond to Webhook1"},{"parameters":{"mode":"raw","jsonOutput":"=\n{\n\"whatsapp\": \"{{ $json.body[0].whatsapp }}\"\n,\n\"documento\": \n\"{{ $json.body[0].documento }}\",\n\"dataNascimento\": \n\"{{ $json.body[0].dataNascimento }}\",\n\"cartao\": \n\"{{ $json.body[0].cartao }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-112],"id":"36d4f78f-b532-40fb-90a5-50ec36c5a2d8","name":"Edit Fields1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"whatsapp":"11985336672","documento":"10096249030","dataNascimento":"01/12/2020","cartao":"29.09.00000010-9"}}],"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"10.145.28.166","connection":"Upgrade","content-length":"170","content-type":"application/json","user-agent":"PostmanRuntime/7.45.0","accept":"*/*","cache-control":"no-cache","postman-token":"cef31a41-db8f-47c7-bd00-69f137743787","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":[{"whatsapp":"11985336672","documento":"10096249030","dataNascimento":"01/12/2020","cartao":"29.09.00000010-9"}],"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/cancelamentocartao","executionMode":"production"}}]},"versionId":"4eb93d08-680f-458c-b475-c88fb51eb397","triggerCount":1,"tags":[]}