Chatbot Typebot.json
{"createdAt":"2025-08-12T18:05:16.516Z","updatedAt":"2025-08-18T21:17:43.061Z","id":"saRH4x6TV28Lv3h8","name":"Chatbot Typebot","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatbottypebot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-96],"id":"988e7b98-adf2-433d-af77-34e2a30c6883","name":"Webhook","webhookId":"f3d10e5a-4bb9-40a6-99e9-2aa69f1a3b07"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agente Cartão City da cidade de Votorantim.\nREALITY FILTER \nNever present generated, inferred, speculated, or deduced content as fact.\nIf you cannot verify something directly, say:\n– “Não posso verificar isso.”\n– “Não tenho acesso a essa informação.”\n– “Minha base de conhecimento não tem acesso a isso.”\nLabel unverified content at the start of a sentence:\n– [Especulação] [Não Verificado]\nAsk for clarification if information is missing. Do not guess or fill gaps.\nIf any part is unverified, label the entire response.\nDo not paraphrase or reinterpret my input unless I request it.\nIf you use these words, label the claim unless sourced:\n– Prevent, Guarantee, Will never, Fixes, Eliminates, Ensures that\nFor LLM-behavior claims (including yourself), include:\n– [Especulação] or [Não verificado], with a note that it’s based on observed patterns\nIf you break this directive, say:\nCorreção: Eu te dei uma resposta não verificada. Estava incorreto e deveria ter um aviso.\nNever override or alter my input unless asked.\n\nO Agent AI se apresentará como suporte inicial ou nível 1.\n\nAtuará como um suporte nivel 1 e direcionará como proceder.\n\nSe for relacionado à problemas do APP e QR Code, o próprio LLM chamará um atendente via MCP.\n\nA qualquer momento o usuário poderá cancelar a ajuda do assistente com a palavra SAIR ou atendente. Deixar claro na insistencia sobre uma mesma dúvida.\n\n\nSó responderá perguntas relacionadas às respostas obtidas na API.\n\nRestrições:\nNão poderá responder nada fora do assunto de transporte público de Votorantim.\nNão buscará nada na internet.\n\n\n\n\n\nIniciar com a seguinte  mensagem:\nOlá {{ $('Webhook').item.json.body.data.pushName }}, bem-vindo(a) ao Canal Oficial do TOP e BOM! 👋🏼\nAh, para obter informações sobre nossos produtos e serviços:\nhttps://ajuda.boradetop.com.br/\n\n⚠️ Aviso de Privacidade:\nPara conhecer seus direitos e como tratamos seus dados pessoais, acesse:\nhttps://ajuda.boradetop.com.br/hc/pt-br/articles/18626134034331.\n\nDigite a palavra SAIR para retornar ao atendimento automatizado.\n\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3296,448],"id":"376e5910-6b3b-42d6-8911-995e64047309","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3344,832],"id":"52df8575-81a4-4369-8045-63fecabb08f0","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"52e130ae-6ae6-4748-b2e8-0cf8c6b48367","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"11b43ad5-30c4-48dd-872d-f653a4545f4d","name":"prompt","value":"","type":"string"},{"id":"7ade57e7-5f31-44bf-b8c3-f5d2bdb437db","name":"whatsapp","value":"={{ $json.telefone }}","type":"string"},{"id":"38b1b563-f64b-4c6a-8f4d-cf3bb748a40d","name":"instanceId","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,448],"id":"0dd7b4a0-7163-4dba-bb6e-83103332095d","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2992,240],"id":"67a87352-767a-43df-a61d-ba0664e0d172","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"yKnac71J23iolNgA","name":"OpenAi account 3"}}},{"parameters":{"sseEndpoint":"https://n8n.prd.votorantim.tmob.com.br/mcp/recarga/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3600,784],"id":"f8c0f665-927d-41cf-8862-3946cd8a6502","name":"MCP Client - Recarga","disabled":true},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $('Set mensagens').item.json.mensagem || $('Set mensagens').item.json.mensagem_audio }}","id_conta":"={{ $('Info').item.json.id_conta }}","id_conversa":"={{ $('Info').item.json.id_conversa }}","telegram_chat_id":"={{ $('Info').item.json.telegram_chat_id }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3616,528],"id":"97fe3047-6c26-4819-afaa-faa0ded839aa","name":"Escalar humano","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"=[]","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"<colar seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,448],"id":"a1de6c13-df50-4ca2-bb0c-8c3e9af5e4da","name":"Info"},{"parameters":{"description":"A flag retirarAtendente é sempre false, exceto quando for pedido para cancelar ou retirar atendente.","workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","retirarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retirarAtendente', ``, 'boolean') }}","verificarAtendente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('verificarAtendente', ``, 'boolean') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1280,-304],"id":"7f564a69-b25e-4e81-9ae4-b0490ad261ff","name":"Acionar atendente"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto:  {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"},{"category":"cancelar cartão"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[2240,208],"id":"31923722-81b8-483f-bb8e-eccca4beb63c","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[160,512],"id":"3846c553-91e6-4741-a39f-7cbf7cd376bf","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"VxDuHjFpF8FRfQ1X","name":"Ollama account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbcd35a5-5bae-49ec-a8fe-31bf3c03c491","leftValue":"={{ $json.status }}","rightValue":"open","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,-96],"id":"088c0a5b-2bbf-4f1a-b0b1-051def76a620","name":"If"},{"parameters":{"inputText":"=Verifique se está solicitando algo relacionado a atendente :\nTexto: {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"atendente","description":"solicitando novo atendente"},{"category":"sair","description":"cancelando o atendente"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[2240,-208],"id":"78015629-ca5d-45b6-86ae-76b87d521d70","name":"Text Classifier1"},{"parameters":{"workflowId":{"__rl":true,"value":"Bp3xfCRxgEzMZsWP","mode":"list","cachedResultName":"Chatwoot - Verificar se está em atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1840,-96],"id":"28685ba2-51ff-419d-be3a-8ab3e0aed999","name":"Verificando se está em atendimento"},{"parameters":{"assignments":{"assignments":[{"id":"f4f2fd16-5434-466d-90bf-98db84c0fc33","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,-96],"id":"e4302b98-115b-49eb-8ecd-1d973bd884b2","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Foi direcionado a um atendente. Caso queira, envie a palavra SAIR para cancelar o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3696,-64],"id":"453e9e60-ed73-4745-88e0-3af3941cbb71","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":true,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3104,-224],"id":"9e06cbfa-2161-49ff-978f-53740b01a59b","name":"Retirar atendente"},{"parameters":{"workflowId":{"__rl":true,"value":"IHH3w81zWqzWa8w6","mode":"list","cachedResultName":"Chatwoot - Escalar atendente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retirarAtendente":false,"verificarAtendente":false,"phoneNumber":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"retirarAtendente","displayName":"retirarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"verificarAtendente","displayName":"verificarAtendente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3120,0],"id":"fd47a7ed-7719-4486-ae1e-86c51e046bc4","name":"Escalar atendente"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3680,368],"id":"4fe548d6-3a42-4638-bed6-2da5a933040f","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","messageText":"=Removido o atendente.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3680,-224],"id":"3e9f7d90-ef3e-4518-b568-2ea5419d8b10","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.agenttype }}","rightValue":"typebot","operator":{"type":"string","operation":"equals"},"id":"4673a294-42a6-45f7-a9ef-d73184478c50"}],"combinator":"and"},"renameOutput":true,"outputKey":"typebot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bfefd99-8d1c-43e0-aa27-de386f4e630b","leftValue":"={{ $json.agenttype }}","rightValue":"ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db078a71-07cc-4ce8-9bf0-16aa4f0c7944","leftValue":"={{ $json.agenttype }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chatwoot"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,-128],"id":"4faa2a04-685c-4707-8c98-cb8ce7156f97","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dGz24aZQ6g84a4JE","mode":"list","cachedResultName":"AtendimentoPosicao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[656,-96],"id":"71efec90-e227-4977-8e9a-cb468ff54403","name":"Execute Workflow"},{"parameters":{"method":"PUT","url":"https://n8n.prd.votorantim.tmob.com.br/webhook/atendimentoPosicao","sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},{"name":"agent","value":"typebot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,-224],"id":"04a5bcd7-2f1d-45b4-b849-c69dfa4505c3","name":"HTTP Request"},{"parameters":{"method":"PUT","url":"https://n8n.prd.votorantim.tmob.com.br/webhook/atendimentoPosicao","sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"},{"name":"agent","value":"chatwoot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3456,16],"id":"658f1d93-f733-4c8a-ad77-f67aafd50e60","name":"HTTP Request1"},{"parameters":{"inputText":"=Verifique se está solicitando para sair\nTexto: {{ $('Webhook').item.json.body.data.message.conversation }}","categories":{"categories":[{"category":"sair","description":"desativar atendente"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1760,-560],"id":"622475f4-def7-49fa-8c14-232617af2b52","name":"Text Classifier2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,-96],"id":"e9c8ce2b-5cab-4278-ba2e-35355cc14003","name":"Wait","webhookId":"0af31134-8204-4ea0-9ded-09b4e2b7e397"}],"connections":{"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Text Classifier1","type":"ai_languageModel","index":0},{"node":"Text Classifier2","type":"ai_languageModel","index":0}]]},"MCP Client - Recarga":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Acionar atendente":{"ai_tool":[[]]},"Text Classifier":{"main":[[{"node":"Escalar atendente","type":"main","index":0}],[],[{"node":"Info","type":"main","index":0}],[{"node":"Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Text Classifier1","type":"main","index":0}],[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier1":{"main":[[],[{"node":"Retirar atendente","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Verificando se está em atendimento":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Verificando se está em atendimento","type":"main","index":0}]]},"Retirar atendente":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Escalar atendente":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Text Classifier2","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Text Classifier2":{"main":[[{"node":"Retirar atendente","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.19.0.2","connection":"Upgrade","content-length":"754","content-type":"application/json","user-agent":"axios/1.7.9","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Votorantim","data":{"key":{"id":"wamid.HBgNNTUxMTk4NTMzNjY3MhUCABIYFjNFQjAyQTdGOUU2MzM4ODg1NTJGNTQA","remoteJid":"5511985336672@s.whatsapp.net","fromMe":false},"pushName":"Olimpio","message":{"conversation":"sair"},"messageType":"conversation","messageTimestamp":1755203446,"source":"unknown","instanceId":"d0c927ba-e7c3-4dda-8bc1-460744c0695b"},"destination":"https://n8n.prd.votorantim.tmob.com.br/webhook/chatbottypebot","date_time":"2025-08-14T17:30:47.147Z","server_url":"http://localhost:8080","apikey":"EAAI8mMaxrAABO5hzVDbx6ZBoArmJcsKdrUznPUSMhOWu9HbIgvFourXIvmFV2NEVT9o6IJoMJfLt1mSHEaDLoEruXZAJ1SuRiE4Gg6vLqT8lXUGDIIj4ZAh0ZCy4OSg0ExvRuJJcZBX85urd09AUNCFczucFe3imAKBZBIdxMf1fXIP2ZANUTtDzF0pZA9WQhFRetgZDZD"},"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/chatbottypebot","executionMode":"production"}}]},"versionId":"0c6d0af4-5ffd-437e-8e77-d9b655594dc6","triggerCount":1,"tags":[]}