Chatwoot - Escalar atendente.json
{"createdAt":"2025-07-11T18:16:07.992Z","updatedAt":"2025-07-16T17:25:29.313Z","id":"IHH3w81zWqzWa8w6","name":"Chatwoot - Escalar atendente","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"phoneNumber\": \"+5511985851122\",\n  \"retirarAtendente\": true,\n  \"verificarAtendente\":true\n \n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[160,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16d93904-d33e-4a41-9578-160a694fe5dc","leftValue":"={{ $('HTTP - Get Contact By Phone').item.json.meta.count.toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b614e0d-04b7-46ed-a7be-d8b306d3187a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,340],"id":"2a6a155a-5924-4cf2-9172-79098d3e2af6","name":"If"},{"parameters":{"method":"POST","url":"https://chatwoot.prd.votorantim.tmob.com.br/auth/sign_in","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGM2TkRFNk1EUXVNREExV2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--98d3c7dd57d4c08eeecb129a3ea7eb881c91df1a; user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f"},{"name":"cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGM2TkRFNk1EUXVNREExV2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--98d3c7dd57d4c08eeecb129a3ea7eb881c91df1a;user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f;"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"olimpio.farias@tecsomobi.com.br"},{"name":"password","value":"Tmob@123,"}]},"options":{"batching":{"batch":{}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,340],"id":"bb6ec74e-1421-4229-a6f6-9a03c0c889a5","name":"HTTP - Sign in"},{"parameters":{"url":"https://chatwoot.prd.votorantim.tmob.com.br/api//v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').item.json.phoneNumber.replace('+','') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.data.access_token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,340],"id":"75f67627-52c1-4b34-9ba1-11a5d394cb25","name":"HTTP - Get Contact By Phone"},{"parameters":{"url":"=https://chatwoot.prd.votorantim.tmob.com.br/api//v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZR14pmxiFPoYLfDRBLoRppoJ"},{"name":"Cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGc2TkRZNk5ERXVOREU0V2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--236cf5353794f72d30c0de78a7800760f71e7bf0; user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f"},{"name":"cookie","value":"user.expires_at=eyJfcmFpbHMiOnsibWVzc2FnZSI6IklqSXdNalV0TURjdE1UUlVNVGc2TkRZNk5ERXVOREU0V2lJPSIsImV4cCI6bnVsbCwicHVyIjoiY29va2llLnVzZXIuZXhwaXJlc19hdCJ9fQ%3D%3D--236cf5353794f72d30c0de78a7800760f71e7bf0;user.id=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ik1RPT0iLCJleHAiOm51bGwsInB1ciI6ImNvb2tpZS51c2VyLmlkIn19--f9096e2241752fd002ebd8cc5164eb66431e3b3f;"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,340],"id":"3e31d7fc-12fa-4240-8b92-427adf2d6d6f","name":"HTTP - Get conversations"},{"parameters":{"method":"POST","url":"=https://chatwoot.prd.votorantim.tmob.com.br/api/v1/accounts/1/conversations/{{ $('HTTP - Get conversations').item.json.payload[0].last_non_activity_message.conversation_id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('HTTP - Sign in').item.json.data.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"{{ $('When Executed by Another Workflow').item.json.retirarAtendente?\"resolved\":\"open\" }}\",\n  \"snoozed_until\": null\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,320],"id":"f9d52b86-1696-4c28-a3a5-38948dbb1dd7","name":"HTTP - Set Conversation to Pending","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5216a420-a94d-401a-9bd2-29d9e62cbf69","leftValue":"={{ $('When Executed by Another Workflow').item.json.retirarAtendente }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,340],"id":"ee187c84-da64-4105-9092-ec4bca9e8059","name":"If1"},{"parameters":{"method":"POST","url":"=https://chatwoot.prd.votorantim.tmob.com.br/api/v1/accounts/1/conversations/{{ $('HTTP - Get conversations').item.json.payload[0].last_non_activity_message.conversation_id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('HTTP - Sign in').item.json.data.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"resolved\",\n  \"snoozed_until\": null\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,120],"id":"7ac63c61-b8b9-4d72-99c0-3943bbe485fe","name":"HTTP - Set Conversation to Pending1","alwaysOutputData":false}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP - Sign in","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP - Set Conversation to Pending","type":"main","index":0}],[]]},"HTTP - Sign in":{"main":[[{"node":"HTTP - Get Contact By Phone","type":"main","index":0}]]},"HTTP - Get Contact By Phone":{"main":[[{"node":"HTTP - Get conversations","type":"main","index":0}]]},"HTTP - Get conversations":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP - Set Conversation to Pending":{"main":[[]]},"If1":{"main":[[{"node":"HTTP - Set Conversation to Pending1","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"phoneNumber":"5511985336672","retirarAtendente":true,"verificarAtendente":false}}]},"versionId":"666cc782-725c-4e53-a07f-63d59c05c0b3","triggerCount":0,"tags":[{"createdAt":"2025-07-11T13:56:25.732Z","updatedAt":"2025-07-11T13:56:25.732Z","id":"4RnpFjyvklykXmUc","name":"chatwoot"}]}