Chatbot - Tool - Recarga - Belem.json
{"createdAt":"2025-08-20T19:10:59.553Z","updatedAt":"2025-08-20T19:13:34.706Z","id":"jSntLq4ztehqAhT0","name":"Chatbot - Tool - Recarga - Belem","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"valorRecarga"},{"name":"cartao"},{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,-96],"id":"c2272e01-ea6b-4b38-854a-0b42ecfedc6f","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"id\":{{ $json.id }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,-240],"id":"50eb9e46-ca89-459c-a8b6-73c0994382a6","name":"Order_id"},{"parameters":{"assignments":{"assignments":[{"id":"3627d0d3-8fb1-4874-ba92-910de4b42489","name":"token","value":"={{ $json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-240],"id":"f8bedc3b-132f-4524-b8b0-245ec81e37ca","name":"Token"},{"parameters":{"method":"POST","url":"https://belemprd-tmob.auth.sa-east-1.amazoncognito.com/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Cookie","value":"XSRF-TOKEN=3b4e457f-9db1-4959-b9cb-2ea6a71e2087"},{"name":"cookie","value":"XSRF-TOKEN=3b4e457f-9db1-4959-b9cb-2ea6a71e2087;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"4nc7i13buc1vrslh3tuo768c6d"},{"name":"client_secret","value":"19p07i1mofgqdur8s8oj4ns4k6dq8a46m1ffa7e462glh0075irn"},{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"SalesNetwork/default"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-240],"id":"0544d782-4e2d-433b-bd76-dc097a0aed01","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"b434685f-a118-4b86-a33a-62f3fb89cd53","name":"mensagem","value":"=A recarga será efetivada assim que o pagamento do código PIX for pago. Assim que realizar o pagamento aguarde a mensagem de confirmação.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-240],"id":"4f1b42ce-8d0a-4d41-846d-6fb9c3b43861","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Votorantim","remoteJid":"=55{{ $('Merge').item.json.whatsapp }}","messageText":"={{ $json.qrCodeText }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,-240],"id":"76303a71-e352-4a6d-be6d-f2cba406383a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"jmVyIMybhPKeliUe","mode":"list","cachedResultName":"Chatbot - Dados Cartao - Belem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.whatsapp }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-256,-96],"id":"bdf657bb-4bb1-4db8-bc62-cb4475933152","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c6cde3b-a124-44f1-a5e7-76e1c1bb3048","leftValue":"={{ $('Merge').item.json.cartao }}","rightValue":"={{ $json.formatedLogical }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-96],"id":"7cf4c68d-ad4a-4a22-9774-c5d6578de245","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b434685f-a118-4b86-a33a-62f3fb89cd53","name":"mensagem","value":"=O cartão informado não está vinculado à esse número de Whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-48],"id":"1f888e48-193f-44e0-a9a0-85a4f10cf786","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://api.prd.belem.tmob.com.br/api/recharge-order-details","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"rechargeRule\": \"mediaExists\",\n  \"value\": {{ $('Merge').item.json.valorRecarga*100 }},\n  \"isActive\": true,\n  \"comRechargeOrderId\": {{ $json.id }},\n  \"medMediaCsn\": {{ $('Execute Workflow').item.json.csn }},\n  \"medMediaTypeId\": {{ $('Execute Workflow').item.json.medMediaTypeId }},\n  \"medTransitProductCode\": {{ $('Execute Workflow').item.json.transitProductId }},\n  \"toIssuerCode\": {{ $('Execute Workflow').item.json.toIssuerCode }},\n  \"usrUserDocumentValue\": \"{{ $('Execute Workflow').item.json.documento }}\"\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,-240],"id":"200102b9-2884-4ab0-86ce-83aa19bc9a47","name":"HTTP Request2 - Order Details"},{"parameters":{"method":"PATCH","url":"=https://api.prd.belem.tmob.com.br/api/recharge-orders/{{ $('HTTP Request - Recharge Order').item.json.id }}/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-240],"id":"9532d9dc-8b30-409c-a1ba-7c050c3285a7","name":"HTTP Request - Complete"},{"parameters":{"method":"PATCH","url":"=https://api.prd.votorantim.tmob.com.br/api/recharge-orders/{{ $('Order_id').item.json.id }}/generate-pix","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-240],"id":"6fe66650-cedc-4223-a052-053763941216","name":"HTTP Request - Generate PIX"},{"parameters":{"method":"POST","url":"https://api.prd.belem.tmob.com.br/api/recharge-orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"merchantOrderId","value":"5"},{"name":"usrOrganizationId","value":"23"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-240],"id":"583fcd5f-8c4f-41bd-8b6b-5c5f8bbf413b","name":"HTTP Request - Recharge Order"},{"parameters":{"httpMethod":"POST","path":"recargacartaobelem","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,128],"id":"4e53556f-b480-4fc8-a66b-20644ada619f","name":"Webhook","webhookId":"3968b807-c2de-4f3e-ad3a-a750fedb98d9"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-512,-32],"id":"b15f73fa-d71b-4bb8-bf8a-43de341d6508","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"valorRecarga\": \n\"{{ $json.body[0].valorRecarga }}\",\n\"cartao\": \n\"{{ $json.body[0].cartao }}\",\n\"whatsapp\": \n\"{{ $json.body[0].whatsapp.substring(2) }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,128],"id":"17c14c7f-5e8d-4842-a1c9-f1bf676dd497","name":"Edit Fields2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2080,-240],"id":"37b425dd-47b2-4f45-86ac-b27b2a732550","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,-48],"id":"940f82b4-c3a7-46f5-987f-ea695c7c5a6f","name":"Respond to Webhook1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Order_id":{"main":[[{"node":"HTTP Request2 - Order Details","type":"main","index":0}]]},"Token":{"main":[[{"node":"HTTP Request - Recharge Order","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Token","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request2 - Order Details":{"main":[[{"node":"HTTP Request - Complete","type":"main","index":0}]]},"HTTP Request - Complete":{"main":[[{"node":"HTTP Request - Generate PIX","type":"main","index":0}]]},"HTTP Request - Generate PIX":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"HTTP Request - Recharge Order":{"main":[[{"node":"Order_id","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"valorRecarga":"3","cartao":"29.09.00000010-9","whatsapp":"11985336672"}}],"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.21.0.2","connection":"Upgrade","content-length":"47","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"br, gzip, deflate"},"params":{},"query":{},"body":[{"valorRecarga":"","cartao":"","whatsapp":""}],"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/recargacartaobelem","executionMode":"production"}}]},"versionId":"865653ed-9d2f-4f22-9b7f-d93a854432e0","triggerCount":1,"tags":[]}