Chatbot - Tool - Recarga.json
{"createdAt":"2025-05-07T16:19:13.394Z","updatedAt":"2025-08-18T18:50:35.496Z","id":"PMTO3fmz8NsNka7v","name":"Chatbot - Tool - Recarga","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"valorRecarga"},{"name":"cartao"},{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,-96],"id":"f4053142-8939-4a5f-aac2-fc179dfddb35","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"id\":{{ $json.id }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,-240],"id":"6ef52ced-0757-404c-9dde-a4ba0e1cb823","name":"Order_id"},{"parameters":{"assignments":{"assignments":[{"id":"3627d0d3-8fb1-4874-ba92-910de4b42489","name":"token","value":"={{ $json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-240],"id":"64341512-a13d-400d-b999-a7df8b12ac45","name":"Token"},{"parameters":{"method":"POST","url":"https://votorantimprd-tmob.auth.sa-east-1.amazoncognito.com/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Cookie","value":"XSRF-TOKEN=3b4e457f-9db1-4959-b9cb-2ea6a71e2087"},{"name":"cookie","value":"XSRF-TOKEN=3b4e457f-9db1-4959-b9cb-2ea6a71e2087;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"4nc7i13buc1vrslh3tuo768c6d"},{"name":"client_secret","value":"19p07i1mofgqdur8s8oj4ns4k6dq8a46m1ffa7e462glh0075irn"},{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"SalesNetwork/default"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-240],"id":"23831d6a-0b35-403d-b546-b56aa4a1dfb0","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"b434685f-a118-4b86-a33a-62f3fb89cd53","name":"mensagem","value":"=A recarga será efetivada assim que o pagamento do código PIX for pago. Assim que realizar o pagamento aguarde a mensagem de confirmação.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-240],"id":"9a34566d-d9cf-40f8-8715-bfc7547ccf2b","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Votorantim","remoteJid":"=55{{ $('Merge').item.json.whatsapp }}","messageText":"={{ $json.qrCodeText }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,-240],"id":"2f5ba489-ab50-4257-8171-05420a2054fb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ouxNK0IdZdDGgk3y","mode":"list","cachedResultName":"Chatbot - Dados Cartao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.whatsapp }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-256,-96],"id":"7f6a2a0e-9d79-44d4-9732-4b4d787c2471","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c6cde3b-a124-44f1-a5e7-76e1c1bb3048","leftValue":"={{ $('Merge').item.json.cartao }}","rightValue":"={{ $json.formatedLogical }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-96],"id":"ad53654e-061d-4607-9be0-66fe039f91a4","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b434685f-a118-4b86-a33a-62f3fb89cd53","name":"mensagem","value":"=O cartão informado não está vinculado à esse número de Whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-48],"id":"33eb97a2-5f8e-4634-9341-1f94860b6743","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://api.prd.votorantim.tmob.com.br/api/recharge-order-details","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"rechargeRule\": \"mediaExists\",\n  \"value\": {{ $('Merge').item.json.valorRecarga*100 }},\n  \"isActive\": true,\n  \"comRechargeOrderId\": {{ $json.id }},\n  \"medMediaCsn\": {{ $('Execute Workflow').item.json.csn }},\n  \"medMediaTypeId\": {{ $('Execute Workflow').item.json.medMediaTypeId }},\n  \"medTransitProductCode\": {{ $('Execute Workflow').item.json.transitProductId }},\n  \"toIssuerCode\": {{ $('Execute Workflow').item.json.toIssuerCode }},\n  \"usrUserDocumentValue\": \"{{ $('Execute Workflow').item.json.documento }}\"\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,-240],"id":"d3761bec-6a70-4d23-a881-dc73a32ec47e","name":"HTTP Request2 - Order Details"},{"parameters":{"method":"PATCH","url":"=https://api.prd.votorantim.tmob.com.br/api/recharge-orders/{{ $('HTTP Request - Recharge Order').item.json.id }}/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-240],"id":"06ceb3dc-3357-4b73-985a-2fff0b699721","name":"HTTP Request - Complete"},{"parameters":{"method":"PATCH","url":"=https://api.prd.votorantim.tmob.com.br/api/recharge-orders/{{ $('Order_id').item.json.id }}/generate-pix","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $('Token').item.json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-240],"id":"37440ca9-3a14-4f9b-908e-50c582cf1a12","name":"HTTP Request - Generate PIX"},{"parameters":{"method":"POST","url":"https://api.prd.votorantim.tmob.com.br/api/recharge-orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $json.token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"merchantOrderId","value":"5"},{"name":"usrOrganizationId","value":"23"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-240],"id":"fb7d8e7d-24b1-491e-8663-d952904c90b0","name":"HTTP Request - Recharge Order"},{"parameters":{"httpMethod":"POST","path":"recargacartao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,128],"id":"02baa3a9-5a16-4034-be40-1b628f3c1b7f","name":"Webhook","webhookId":"586c7f64-86fa-4ed8-82d5-b3e50551828d"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-512,-32],"id":"86852d98-6e6b-4ba5-87dc-d6cda5a52122","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"valorRecarga\": \n\"{{ $json.body[0].valorRecarga }}\",\n\"cartao\": \n\"{{ $json.body[0].cartao }}\",\n\"whatsapp\": \n\"{{ $json.body[0].whatsapp.substring(2) }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,128],"id":"2b03c239-17ae-4f32-9c5c-e50843a6f518","name":"Edit Fields2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2080,-240],"id":"cba223c7-5f1c-4430-ac1f-cfe09acd0292","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,-48],"id":"b6b5ff41-4617-4d3d-a1a2-ae6173542cd9","name":"Respond to Webhook1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Order_id":{"main":[[{"node":"HTTP Request2 - Order Details","type":"main","index":0}]]},"Token":{"main":[[{"node":"HTTP Request - Recharge Order","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Token","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request2 - Order Details":{"main":[[{"node":"HTTP Request - Complete","type":"main","index":0}]]},"HTTP Request - Complete":{"main":[[{"node":"HTTP Request - Generate PIX","type":"main","index":0}]]},"HTTP Request - Generate PIX":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"HTTP Request - Recharge Order":{"main":[[{"node":"Order_id","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"valorRecarga":"3","cartao":"29.09.00000010-9","whatsapp":"11985336672"}}],"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"172.21.0.4","connection":"Upgrade","content-length":"61","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"br, gzip, deflate"},"params":{},"query":{},"body":[{"valorRecarga":"","cartao":"3","whatsapp":"5511985336672"}],"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/recargacartao","executionMode":"production"}}]},"versionId":"b3710ffa-3fed-4793-a1e3-79ec374b844c","triggerCount":1,"tags":[]}