Chatbot - Boleto.json
{"createdAt":"2025-08-25T17:50:35.201Z","updatedAt":"2025-08-28T13:47:47.043Z","id":"13FGb1Hnw1fbs029","name":"Chatbot - Boleto","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,32],"id":"9099dbff-7661-4950-93d6-fb807cd96188","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://api-tclient.prd.belem.tmob.com.br/media/second-emission-vt/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"},{"name":"Connection","value":"keep-alive"},{"name":"Origin","value":"https://tclient.prd.belem.tmob.com.br"},{"name":"Referer","value":"https://tclient.prd.belem.tmob.com.br/"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-site"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {{ JSON.stringify($json.body) }}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,32],"id":"4d5b21fb-c0af-4ef0-ab30-e8e9030bf48c","name":"HTTP Request","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Livramento","remoteJid":"5511985336672","media":"={{ $json.billetURL.split('.pdf')[0] }}.pdf","caption":"={{ $json.message }}","fileName":"=boleto_{{ $json.id }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,-32],"id":"c54f7e9c-2b62-47e5-8adc-4db1e4082d63","name":"Enviar documento","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"boletosegundaviabelem","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,240],"id":"1be308a9-72c8-4b2d-b167-f12ec7f67d84","name":"Webhook","webhookId":"61d6b830-6019-4132-ab25-7bdb29418b44"},{"parameters":{"resource":"messages-api","instanceName":"Livramento","remoteJid":"5511985336672","messageText":"=Ocorreu um erro:\n{{ $json.error.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,144],"id":"bca66b8e-2e4f-447c-8962-e4d1ea0ff658","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Enviar documento","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"719c643f-83ca-41b3-bd78-f8b3c52cb946","triggerCount":1,"tags":[]}