Chatbot - Dados Cartao.json
{"createdAt":"2025-05-12T18:27:12.956Z","updatedAt":"2025-07-28T18:26:00.259Z","id":"ouxNK0IdZdDGgk3y","name":"Chatbot - Dados Cartao","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,-80],"id":"c109a708-0f40-4f27-9c55-a56c07f1e52a","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://external.api.prd.votorantim.tmob.com.br/api/cards/JWT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"string"},{"name":"email","value":"string"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-80],"id":"018135ab-6f4b-4500-ae48-b619c0f3efb4","name":"HTTP Request"},{"parameters":{"url":"=https://external.api.prd.votorantim.tmob.com.br/api/cards/{{ $('When Executed by Another Workflow').item.json.whatsapp }}/get-card-by-phonenumber ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-80],"id":"bf6220cf-9384-4df8-b0a2-ea16680109a5","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if(item.json.transitProductId== 500)\n    return item;\n}\n\n//return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-80],"id":"a9aa640f-451b-4197-ad5a-d5f49e9d759a","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"whatsapp":"11985336672"}}]},"versionId":"e0a7fb2e-dce2-4d33-a27d-781c3cc4fb2d","triggerCount":0,"tags":[]}