Envio Mensagem.json
{"createdAt":"2025-08-12T19:39:39.900Z","updatedAt":"2025-08-12T20:33:31.587Z","id":"3Oivtaocc8CNlDpx","name":"Envio Mensagem","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"SendMessage","responseMode":"lastNode","responseData":"allEntries","options":{"binaryPropertyName":"data","rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"977a091c-e299-4bf4-9456-a7b94efe302c","name":"Webhook","webhookId":"21e5f647-ddc0-41a2-96c5-15ba41b1f042"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"7241e1c9-e443-4892-aa8a-b7cb96fd61ab"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34dc9f42-9f7a-4ffd-8f75-29962b6a5f82","leftValue":"={{ $json.body.type }}","rightValue":"botao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[32,0],"id":"616e0088-64fa-47b3-89f3-55b75d74c114","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"Votorantim","remoteJid":"={{ $json.body.whatsappTo }}","messageText":"={{ $json.body.value }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[656,-80],"id":"cbeba69a-1f74-4e81-a308-ba85e28cb053","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Votorantim","remoteJid":"5511985336672","title":"teste","description":"ste","footerText":"teste","sections":{"sectionValues":[{"rows":{"rowValues":[{"title":"14","description":"1414","rowId":"141"},{}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1040,112],"id":"ae32e6e1-264c-4973-9836-bfe3c24c1870","name":"Enviar lista","credentials":{"evolutionApi":{"id":"z3h6sYDAtULe1eCT","name":"Evolution account"}},"disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst values = $input.first().json.body.value.split(',');\n\n\nlet sections1  = new Array();\n\nvalues.forEach(function(val, index) {\n  sections1.push({\n            title: \"🛒 \"+val,\n            description: \" \",\n            rowId: \"rowId \" + index\n        });\n});\n\n//return sections1;\n\n\nconst sections = [{\n        title: \"Opções\",\n        rows: sections1\n    }];\n\n\n\nconst body = {\n    number: $('Webhook').first().json.body.whatsappTo,\n    title: \"\",\n    description: \"Escolha o *tema* que deseja falar:\",\n    buttonText: \"Opções\",\n    footerText: \"\",\n    sections: sections\n};\n\n\n\nreturn body;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"eaf4ffb5-9557-4406-a510-c71b37c6c5a3","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"82d59e12-1c03-4987-8bfa-018012248a48","name":"body","value":"={{ $json.toJsonString() }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,96],"id":"6591cd34-af54-4d9a-9bc3-5218542aa26b","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://evo.prd.votorantim.tmob.com.br/message/sendList/Votorantim","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body.toJsonString() }}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,96],"id":"dd883c22-ab90-4b37-80f0-a20e5bac8afb","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Enviar lista","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.prd.votorantim.tmob.com.br","x-real-ip":"10.145.28.166","connection":"Upgrade","content-length":"111","accept":"application/json","content-type":"application/json","authorization":"Bearer lwZsxJEL99nyNHEyGE55cg8F","user-agent":"PostmanRuntime/7.45.0","cache-control":"no-cache","postman-token":"fcc23bb4-c416-4eb8-82a1-9c6f33210154","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{"type":"botao","value":"1,2,3","whatsappTo":"5511985336672","instance":"Votorantim"},"webhookUrl":"https://n8n.prd.votorantim.tmob.com.br/webhook/SendMessage","executionMode":"production"}}]},"versionId":"c43bc1b7-69f1-4b31-933c-75ac38dd31c0","triggerCount":1,"tags":[]}