Envio QR Code.json
{"createdAt":"2025-02-21T14:15:59.936Z","updatedAt":"2025-05-10T23:49:34.792Z","id":"RH2HsFUCWLlbp6QK","name":"Envio QR Code","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,40],"id":"e92ab960-d367-4d0c-9fcc-f5f49b72dc82","name":"Schedule Trigger"},{"parameters":{"url":"={{ $('Edit Fields').item.json['host-commerce'] }}/recharge-orders/{{ $('Edit Fields').item.json.order_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $json.access_token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,40],"id":"941a2f78-1ba8-4eb7-83f2-84de3e44f114","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"0153188e-7131-456e-b2fb-51ddd892cd11","name":"host-commerce","value":"https://api.prd.votorantim.tmob.com.br/api","type":"string"},{"id":"6df89c7f-1cad-421f-a150-7f8f0f43e9ce","name":"order_id","value":"836","type":"string"},{"id":"cd01b2a7-40d9-4331-9145-120943fb2978","name":"host-commerce-cognito","value":"https://votorantimprd-tmob.auth.sa-east-1.amazoncognito.com","type":"string"},{"id":"fa4b6200-d6f5-4f41-a03b-f8d9b2caddd8","name":"baseUrl","value":"https://evo.prd.votorantim.tmob.com.br","type":"string"},{"id":"ad41eef5-df35-4adc-ba12-54ad32242716","name":"instance","value":"Tecsomobi","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,40],"id":"02343670-0bef-4198-9976-a1208cdf5219","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a84e09e-372c-42c3-9972-a0a5ed3a72bd","leftValue":"={{ $json.paymentDate }}","rightValue":"null","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,340],"id":"f40270dd-517e-4e2b-9f60-0e2999447b5f","name":"If"},{"parameters":{"method":"POST","url":"https://test-integration.test.tmob.com.br/message/sendText/Tecsomobi1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"testOlimpio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511985336672"},{"name":"text","value":"=Status de pagamento:  {{ $json.paymentDate == null ? \"Não foi pago\":\"Pago\" }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,500],"id":"1c933316-6385-47b7-9983-9ebb91af76df","name":"http request"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendMedia/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"123"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"number\": \"5511985336672\",\n    \"mediatype\": \"image\",  \n    \"mimetype\": \"image/png\",\n    \"caption\": \"QR válido até 31/12/2034\",\n    \"media\": \"https://pngimg.com/uploads/qr_code/qr_code_PNG17.png\", \n    \"fileName\": \"qr.png\"\n    \n    \n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,320],"id":"f44aabfd-8d04-4a63-a71b-d572f9df8dc2","name":"Envio de QR Code","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"123"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"number\": \"11985336672\",\n    \"text\": \"O pagamento foi realizado com sucesso. Seu cartão já foi recarregado. Lembre-se de passar nos nossos carregadores. \"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,320],"id":"eadbe5ae-5f58-4bb6-880a-bd646826da42","name":"Confirmação de pagamento"},{"parameters":{"method":"POST","url":"={{ $json['host-commerce-cognito'] }}/token","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","rawContentType":"application/x-www-form-urlencoded","body":"client_id=4nc7i13buc1vrslh3tuo768c6d&client_secret=19p07i1mofgqdur8s8oj4ns4k6dq8a46m1ffa7e462glh0075irn&grant_type=client_credentials&scope=SalesNetwork/default","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,40],"id":"d68e34b3-5c5d-4170-849f-31dfb72ef403","name":"Cognito"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-600,380],"id":"f0759cee-5462-4175-ad33-92808a165db9","name":"When Executed by Another Workflow"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Cognito","type":"main","index":0}]]},"If":{"main":[[{"node":"Confirmação de pagamento","type":"main","index":0}],[{"node":"http request","type":"main","index":0}]]},"Confirmação de pagamento":{"main":[[{"node":"Envio de QR Code","type":"main","index":0}]]},"Cognito":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b8539af-7ca5-4cb8-b1ca-dd4c7e6d32e2","triggerCount":0,"tags":[]}