My workflow 5.json
{"createdAt":"2025-03-24T13:56:56.440Z","updatedAt":"2025-03-24T13:56:56.440Z","id":"DQobchXZOJNoc54a","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"fe94e0e1-1fa4-4dd6-a272-ba03947ab0e5","name":"Schedule Trigger"},{"parameters":{"url":"={{ $('Edit Fields').item.json['host-commerce'] }}/recharge-orders/{{ $('Edit Fields').item.json.order_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"insomnia/8.6.1"},{"name":"Authorization","value":"={{ $json.access_token }}"},{"name":"v","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,0],"id":"c9fe83f2-a520-4c9a-829b-a8bad9d8da4a","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"0153188e-7131-456e-b2fb-51ddd892cd11","name":"host-commerce","value":"https://api.prd.votorantim.tmob.com.br/api","type":"string"},{"id":"6df89c7f-1cad-421f-a150-7f8f0f43e9ce","name":"order_id","value":"836","type":"string"},{"id":"cd01b2a7-40d9-4331-9145-120943fb2978","name":"host-commerce-cognito","value":"https://votorantimprd-tmob.auth.sa-east-1.amazoncognito.com","type":"string"},{"id":"fa4b6200-d6f5-4f41-a03b-f8d9b2caddd8","name":"baseUrl","value":"https://evo.prd.votorantim.tmob.com.br","type":"string"},{"id":"ad41eef5-df35-4adc-ba12-54ad32242716","name":"instance","value":"Tecsomobi","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,0],"id":"b4fc9067-541e-42cb-8358-2ac6f05e6c29","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a84e09e-372c-42c3-9972-a0a5ed3a72bd","leftValue":"={{ $json.paymentDate }}","rightValue":"null","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,300],"id":"e9191717-b91c-452b-ae20-489afd047548","name":"If"},{"parameters":{"method":"POST","url":"https://test-integration.test.tmob.com.br/message/sendText/Tecsomobi1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"testOlimpio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511985336672"},{"name":"text","value":"=Status de pagamento:  {{ $json.paymentDate == null ? \"Não foi pago\":\"Pago\" }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,460],"id":"bd4ed563-8f46-424a-85b7-891533230018","name":"http request"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendMedia/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"123"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"number\": \"5511985336672\",\n    \"mediatype\": \"image\",  \n    \"mimetype\": \"image/png\",\n    \"caption\": \"QR válido até 31/12/2034\",\n    \"media\": \"https://pngimg.com/uploads/qr_code/qr_code_PNG17.png\", \n    \"fileName\": \"qr.png\"\n    \n    \n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,280],"id":"da507555-e8f7-4589-b677-b4ec1b0b3dde","name":"Envio de QR Code","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"123"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"number\": \"11985336672\",\n    \"text\": \"O pagamento foi realizado com sucesso. Seu cartão já foi recarregado. Lembre-se de passar nos nossos carregadores. \"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,280],"id":"5026bd60-7c52-4c2e-9c8c-d9e555911173","name":"Confirmação de pagamento"},{"parameters":{"method":"POST","url":"={{ $json['host-commerce-cognito'] }}/token","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","rawContentType":"application/x-www-form-urlencoded","body":"client_id=4nc7i13buc1vrslh3tuo768c6d&client_secret=19p07i1mofgqdur8s8oj4ns4k6dq8a46m1ffa7e462glh0075irn&grant_type=client_credentials&scope=SalesNetwork/default","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"b2815ef6-e5ca-4207-be3e-f1c05eb6655c","name":"Cognito"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Cognito","type":"main","index":0}]]},"If":{"main":[[{"node":"Confirmação de pagamento","type":"main","index":0}],[{"node":"http request","type":"main","index":0}]]},"Confirmação de pagamento":{"main":[[{"node":"Envio de QR Code","type":"main","index":0}]]},"Cognito":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5404412c-47bc-41c9-901f-0afaa608df76","triggerCount":0,"tags":[]}