My workflow 13.json
{"createdAt":"2025-10-20T11:09:19.749Z","updatedAt":"2025-10-20T11:22:20.074Z","id":"xWYGVvwqTXlqM6uB","name":"My workflow 13","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[128,-48],"id":"022052df-f0ff-4901-b826-33d64b2e3421","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"92bb5093-454b-4c07-9fa8-102257d40100","name":"owner","value":"tmobolimpio","type":"string"},{"id":"1a88143d-7054-4d4a-87a3-af632cb26529","name":"repository","value":"n8n-backup","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-48],"id":"67ceaa82-ca1a-43c5-9f6b-8c4295df7e0e","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,-288],"id":"a50c9280-4528-40fa-94a3-b3d730bd7dca","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repository }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[560,-48],"id":"0aaa72a0-c0b9-4588-a474-6ff73826bfc3","name":"List files","webhookId":"1416077e-8585-44c0-b1eb-d42cdae337c3","credentials":{"githubApi":{"id":"A0bTV6sk15RR8Xy9","name":"GitHub account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60f1180b-eced-4702-9b30-a50e9a306ee0","triggerCount":1,"tags":[]}