Scrape and store data from multiple website pages.json
{"createdAt":"2025-09-09T21:50:18.756Z","updatedAt":"2025-09-09T21:50:18.756Z","id":"EXutE70impCpoxL1","name":"Scrape and store data from multiple website pages","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1,"id":"b890d36e-11ee-43db-972a-e095a8b0d13a"},{"parameters":{"url":"https://www.theswiftcodes.com/browse-by-country/","responseFormat":"string","options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[832,240],"typeVersion":1,"id":"da24dfe3-8290-4c98-898b-f4fef87f0f89"},{"parameters":{"extractionValues":{"values":[{"key":"countries","cssSelector":"ol > li > a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","position":[1024,240],"typeVersion":1,"id":"f257ccd7-a4aa-47dc-9890-19b8730c973d"},{"parameters":{"batchSize":1,"options":{"reset":false}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","position":[1424,240],"typeVersion":1,"id":"53bcd33d-3eb2-46a4-bfa5-b3c24ef9ea48"},{"parameters":{"url":"={{$node[\"Set\"].json[\"url\"]}}","responseFormat":"file","options":{}},"name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","position":[2768,160],"typeVersion":1,"id":"6087ea9a-4672-44ef-97c8-97496aeec8fd"},{"parameters":{"sourceData":"binary","extractionValues":{"values":[{"key":"next_button","cssSelector":"span.next > a","returnValue":"attribute","attribute":"href"},{"key":"names","cssSelector":"td.table-name","returnArray":true},{"key":"swifts","cssSelector":"td.table-swift","returnArray":true},{"key":"cities","cssSelector":"td.table-city","returnArray":true},{"key":"branches","cssSelector":"td.table-branch","returnArray":true}]},"options":{}},"name":"HTML Extract1","type":"n8n-nodes-base.htmlExtract","position":[3264,16],"typeVersion":1,"id":"b9cf64e8-a1bb-48ba-9810-b790dd8ccf77"},{"parameters":{"operation":"insert","collection":"swifts.meetup","fields":"iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt","options":{"dateFields":"createdAt,updatedAt"}},"name":"MongoDB1","type":"n8n-nodes-base.mongoDb","position":[3792,16],"typeVersion":1,"id":"c969cf52-17d9-43d0-8aaf-12e83eab2c26"},{"parameters":{"group":"geographic","tool":"getCountryNormalized","country":"={{$node[\"SplitInBatches\"].json[\"country\"].replace(/[\\/0-9]/g, \"\")}}","additionalOptions":{}},"name":"uProc","type":"n8n-nodes-base.uproc","position":[1616,240],"typeVersion":1,"id":"dbe03de6-13f5-4e8f-87af-7558eaa90b52"},{"parameters":{"functionCode":"var newItems = [];\n\nfor (i = 0; i < items[0].json.swifts.length; i++) {\n  var item = {\n    iso_code: $node['uProc'].json.message.code,\n    country: $node['SplitInBatches'].json.country.replace(/[-\\/0-9]/g, \"\"),\n    page: $node['Set Page to Scrape'].json.page,\n    name: items[0].json.names[i],\n    city: items[0].json.cities[i],\n    branch: items[0].json.branches[i],\n    swift_code: items[0].json.swifts[i],\n    createdAt: new Date(),\n    updatedAt: new Date()\n  }\n  newItems.push({json: item});\n}\n\nreturn newItems;\n\n"},"name":"Prepare Documents","type":"n8n-nodes-base.function","position":[3440,16],"typeVersion":1,"id":"ca9f5c33-7e2f-4881-973c-e8843f445745"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"] + \"\"}}","value2":"true"}]}},"name":"More Countries","type":"n8n-nodes-base.if","position":[3328,528],"typeVersion":1,"id":"26df50a2-4b86-4b57-b198-7f77c205b8de"},{"parameters":{"functionCode":"const staticData = getWorkflowStaticData('global');\n\nitem.page = \"\";\nif (staticData.page && staticData.page.length) {\n  item.page = staticData.page;\n} else {\n  item.page = $node['SplitInBatches'].json.country;\n}\nreturn item;\n"},"name":"Set Page to Scrape","type":"n8n-nodes-base.functionItem","position":[1808,112],"typeVersion":1,"id":"1a752209-09bf-41fd-866c-6753ba35367f"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"more_pages\"] + \"\"}}","value2":"true"}]}},"name":"More Pages","type":"n8n-nodes-base.if","position":[3584,448],"typeVersion":1,"id":"9e7e3937-bf27-4c49-82e0-abb032d609fd"},{"parameters":{"functionCode":"var next_page = $node['HTML Extract1'].json.next_button && $node['HTML Extract1'].json.next_button.length ? $node['HTML Extract1'].json.next_button : \"\";\nvar more_pages = next_page.length > 0;\nconst staticData = getWorkflowStaticData('global');\n\n//all current items are after date: needs pagination\nif (more_pages) {\n  staticData.page = next_page;\n} else {\n  //don't check more items in previous pages;\n  delete staticData.page;\n}\n\nreturn [\n  {\n    json: {\n      more_pages: more_pages\n    }\n  }\n];\n"},"name":"Set More Pages","type":"n8n-nodes-base.function","position":[3984,16],"typeVersion":1,"id":"b7c4d8bc-79c6-4273-9e11-afda5a373c82"},{"parameters":{"values":{"string":[{"name":"url","value":"=https://www.theswiftcodes.com{{$node[\"Set Page to Scrape\"].json[\"page\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[1952,112],"typeVersion":1,"id":"55beecbb-9f80-49da-a74f-4bb9569f723b"},{"parameters":{"functionCode":"var generateNameFromUrl = function(url){\n    return url.replace(/[^a-z0-9]/gi, \"_\");\n}\n\nitem.file = generateNameFromUrl(item.url) + \".html\"\nreturn item;"},"name":"Generate filename","type":"n8n-nodes-base.functionItem","position":[2112,32],"typeVersion":1,"id":"99efcf95-3e0f-456e-a60d-2d10f41aee59"},{"parameters":{"filePath":"=/home/node/.cache/scrapper/{{$json[\"file\"]}}"},"name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","position":[2288,32],"typeVersion":1,"alwaysOutputData":true,"id":"a3ea365b-2975-4485-8762-ec1396a51f69","continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Read Binary File\"].binary.data.mimeType}}","value2":"text/html"}]}},"name":"File exists?","type":"n8n-nodes-base.if","position":[2464,32],"typeVersion":1,"id":"54b7fe1f-6fdf-40d5-aab6-0cedf2e28715"},{"parameters":{"fileName":"=/home/node/.cache/scrapper/{{$node[\"Generate filename\"].json[\"file\"]}}","dataPropertyName":"=data","options":{}},"name":"Write Binary File","type":"n8n-nodes-base.writeBinaryFile","position":[2912,160],"typeVersion":1,"id":"f6bbf199-b023-443e-a9fc-16465e5bddf4"},{"parameters":{"filePath":"=/home/node/.cache/scrapper/{{$json[\"file\"]}}"},"name":"Read Binary File1","type":"n8n-nodes-base.readBinaryFile","position":[3088,16],"typeVersion":1,"alwaysOutputData":true,"id":"b1883ab1-3fe5-4a8d-aaff-41f68e37c663","continueOnFail":true},{"parameters":{"functionCode":"const waitTimeSeconds = 1;\n\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve([]);\n  }, waitTimeSeconds * 1000);\n});\n"},"name":"Wait","type":"n8n-nodes-base.function","position":[2608,160],"typeVersion":1,"alwaysOutputData":true,"id":"55af498a-68e4-465b-86fa-f2104c6a94db","continueOnFail":true},{"parameters":{"functionCode":"return items[0].json.countries.map(function(country) {\n  return {\n  json: {country: country}\n  }\n});"},"name":"Prepare countries","type":"n8n-nodes-base.function","position":[1216,240],"typeVersion":1,"id":"f8320fbf-26fc-4d6c-b454-9481912cfabf"},{"parameters":{"command":"mkdir -p  /home/node/.cache/scrapper/"},"name":"Create Directory","type":"n8n-nodes-base.executeCommand","position":[592,240],"typeVersion":1,"id":"50d4b18e-dd7b-4cc5-a54b-a2f6481ccb9a","continueOnFail":true},{"parameters":{"collection":"swifts.meetup","options":{},"query":"={\"swift_code\": \"{{$json[\"swift_code\"]}}\"}"},"name":"MongoDB","type":"n8n-nodes-base.mongoDb","position":[3616,-64],"executeOnce":false,"typeVersion":1,"alwaysOutputData":true,"id":"9cadbf27-c76f-44e9-aa6a-02c7a41ce900","disabled":true}],"connections":{"Set":{"main":[[{"node":"Generate filename","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"uProc":{"main":[[{"node":"Set Page to Scrape","type":"main","index":0}]]},"MongoDB":{"main":[[]]},"MongoDB1":{"main":[[{"node":"Set More Pages","type":"main","index":0}]]},"More Pages":{"main":[[{"node":"Set Page to Scrape","type":"main","index":0}],[{"node":"More Countries","type":"main","index":0}]]},"File exists?":{"main":[[{"node":"Read Binary File1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"HTML Extract":{"main":[[{"node":"Prepare countries","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"HTML Extract1":{"main":[[{"node":"Prepare Documents","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Write Binary File","type":"main","index":0}]]},"More Countries":{"main":[[],[{"node":"SplitInBatches","type":"main","index":0}]]},"Set More Pages":{"main":[[{"node":"More Pages","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"uProc","type":"main","index":0}]]},"Create Directory":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"File exists?","type":"main","index":0}]]},"Generate filename":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Prepare Documents":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"Prepare countries":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Read Binary File1":{"main":[[{"node":"HTML Extract1","type":"main","index":0}]]},"Write Binary File":{"main":[[{"node":"Read Binary File1","type":"main","index":0}]]},"Set Page to Scrape":{"main":[[{"node":"Set","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Create Directory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1073"},"pinData":{},"versionId":"dc1cb772-c413-4181-b981-e487fcd80229","triggerCount":0,"tags":[]}