Typebot - Purge Whatsapp Limbo.json
{"createdAt":"2025-10-20T18:29:53.469Z","updatedAt":"2025-10-20T19:01:36.450Z","id":"yy2Xb9Kgb25QIZSr","name":"Typebot - Purge Whatsapp Limbo","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"638b41df-534d-4ef7-9408-d75a83868ad0","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://evo.prd.votorantim.tmob.com.br//typebot/changeStatus/Livramento","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"remoteJid","value":"={{ $json.parameters.remoteJid }}"},{"name":"status","value":"delete"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-144],"id":"7ead4048-39af-4158-9b7a-506a7d0c37b4","name":"HTTP Request1"},{"parameters":{"url":"https://evo.prd.votorantim.tmob.com.br/typebot/fetchSessions/cmeivn00f000hmb4qq88tq98c/Livramento","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"pRVp9gp/2)z1e\"-*u8*9.jSgLQ2PK6W72G"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-128],"id":"de1cb693-a170-47ff-8f67-0d941f9e7a45","name":"HTTP Request2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edc25840-a8b3-4175-b6e2-3b808e274d87","leftValue":"={{ new Date($now) }}","rightValue":"={{new Date($json.updatedAt).plus({  minutes:10 }) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,-128],"id":"aa69c5ce-2c0d-4d88-ab2e-8eedd0b0a2bb","name":"If"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[48,-176],"id":"80ef9eb4-1f03-484f-9f5c-028ba48735c9","name":"Schedule Trigger"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1a83d9b2-e12c-4d4f-b3a3-ac86b81f7e57","triggerCount":1,"tags":[]}